[2015-04-22 17:17] newtack opened #1 "Comparison to ReactiveNative and React-Style"
JSXStyle looks like an awesome solution for ReactJS.

But what is the story if I want to build a solution both for ReactJS and React Native?

There was a comment (twitter?) that if you wanted to reuse your styling information between react js and reactive native that you should use react-style.

What's the possibility of reuse of JSXStyle for React Native, if not in the immediate but at least in t

[2015-04-23 01:40] KyleAMathews opened #2 "Add support for more elements?"
E.g. `ul`, `li`, etc.

[2015-04-23 01:44] petehunt commented on #2
What's the rule for deciding which elements are included and which are excluded? The elements right now correspond with all values for the `display` CSS property.

[2015-04-23 01:50] KyleAMathews commented on #2
Wouldn't you want to use this for all elements? From the README it sounds like the goal is to magically extract and optimize all inline styles (when possible) to regular css classes. Why include or not include elements? Ideally this would just happen without having to use funny named replacements for standard DOM components.

[2015-04-23 01:54] KyleAMathews commented on #2
So I guess what I'm asking is it possible to react into the guts of React and do what this module does to regular old inline styles? Or is this only possible by creating the wrapper components?

[2015-04-23 01:58] petehunt commented on #2
Oh, yes we could do this pretty easily. The reason the wrapper components are nice is 1. I prefer the API (less curly braces) and 2. It separates each property into its own expression, so it's less likely people will dynamically try to build a style object (which is not statically analyzable).

So yeah this feature would be nice to have and doable, just I think not as nice as the wrapper component

[2015-04-23 04:34] zippyui-react commented on #2
This is the exact same feature that came to mind as well. Would be nice if we could implement this for all inline styles, not just for the wrapper components you have specified (and which are really fine, as they correspond to display property values)

[2015-04-23 14:32] edygar commented on #2
@petehunt, so, how are we supposed to style our links `<a/>` and have it propagated to stylesheet?

[2015-04-23 18:45] petehunt commented on #2
@edygar Composition + cascade: `<InlineBlock color="..."><a href="...">...</a></InlineBlock>`

I still think the cascade kind of sucks and it'd be better to nest `<InlineBlock>` inside `<a>` but HTML isn't perfect :)

Separates the concerns of styling with the concern of click behavior and semantics, IMO :)

[2015-04-23 18:47] petehunt opened #3 "Media query support"
We can convert expressions like this to media queries: `<Block width={window.innerWidth > 640 ? '100%' : 320} />`

[2015-04-23 18:54] petehunt opened #4 "Theming"
React's context (ie. DI) can be used for theming ala https://twitter.com/floydophone/status/427697091377238016

Pseudocode for usage:

[code]

[code]

[code]

This should be implemented.

[2015-04-23 18:55] newtack commented on #1
After your edit and re-reading of the readme, I think you answered the question of React-Style (not being inline the component when it really should be part of it).
How about the ReactiveNative part?

[2015-04-23 19:05] tpreusse commented on #3
In many cases it would be better to look at component width instead of the global window width. Maybe there is a way to encourage that instead of traditional css media queries.

[2015-04-23 19:07] petehunt commented on #3
@tpreusse inline styles do give you that flexibility, we just can't optimize it with the static analyzer (it will transparently work, just won't appear in the static css file)

[2015-04-23 21:35] tpreusse commented on #3
Makes sense - I just wanted to point out that it would be a huge boost to reusability if components were to use a scoped size instead of the global window size.

For supporting media queries generically:
[code]

Arguably not something a JS dev would think of straight away but would give the developers who know what they are doing the power to use media queries.

[2015-04-24 02:32] SKAhack commented on #3
ref: reactjs/react-future#8

[2015-04-24 04:28] petehunt commented on #1
Sorry I forgot to respond to this.

The reason react-style is set up the way that it is is so we can easily generate static stylesheets from it (in theory). We hadn't thought too much about an approach that is more heavy on the static analysis and changes the way styles are expressed, as in this repo. I think if I had stayed at FB, I may have ended up convincing them to go this route :)

I believe

[2015-04-24 08:36] burmisov opened #5 "Make style extraction - and thus `contextify` dependency - optional"
Maybe that's too early an optimization for this awesome module right now, but `contextify` needs a compilation build step which renders the whole thing problematic in terms of xplat'ness.
As far as the core run-time functionality is pure JS, may be it would be better to have the rest fancy and dev-time stuff optional (I mean dev-time of the projects using this module, not this module dev time :) )

[2015-04-24 09:36] petehunt commented on #5
The rest is optional -- just turn off the webpack loader :)

[2015-04-27 12:58] paulwehner opened #6 "For "Open Areas of Work" are you planning updates?"
Was just curious if you are currently planning on optimizing the loader for production? If so do you have an approx timeline.

[2015-04-28 15:44] petehunt commented on #6
I am not planning on working on an optimizer in the near future. I have not found there to be any performance problems with the purely inline styles based approach in practice. In theory there may be, and this repo serves to prove that it is possible to fix these theoretical performance issues.

Closing this out but I would be happy to accept a PR that adds even a most basic optimizer.

[2015-04-28 15:44] #6 closed

[2015-04-28 21:25] amccloud opened #7 "Example of styling input and img tags?"
I might be missing something but is this possible with jsxstyle?

[2015-04-29 00:55] paulwehner commented on #6
Thanks for letting me know!

So if I were to start developing an app with this library would you suggest that for development I use:

{test: /\.js$/, loader: 'jsx-loader?harmony!' + path.join(__dirname, 'node_modules', 'jsxstyle', 'lib', 'webpackLoader.js') + '?LayoutConstants=' + path.join(__dirname, 'LayoutConstants.js')}

Because as you mentioned "It also makes the web inspector harder to use s

[2015-04-29 05:03] petehunt opened #8 "Support linear-gradient in `Color`"

[2015-04-29 05:03] petehunt opened #9 "Can we reduce the # of components?"
I think we can get away with just `Inline`, `FlexRow`, and `FlexCol`

[2015-04-29 05:15] #8 closed

[2015-04-29 13:58] natew commented on #4
:+1: using a similar technique with Reapp loading Themes that pass a theme object into context, which any component can then grab and use. Which opened up theme loading, etc.

[2015-04-29 14:23] totty90 opened #10 "Example doesn't work because react is not defined as dep"

[2015-04-29 16:00] chrislloyd commented on #3
Could there be a hack (for the moment) where components specify their own size breakpoints (as props) and media queries are written out to force the component's `width` and `height`?

This is very rough, but:

[code]

and the resulting css:

[code]

[2015-05-01 03:21] paulwehner opened #11 "Hover bug: If you mouse in and out of element quickly hover appears but then doesn't go away"
As said in the title, if you enter and then leave a component quickly the hover background will come up but then not go away. So only the 'handleMouseEnter' event will fire, and not the 'handleMouseLeave'. To trigger the 'handleMouseLeave' you have to mouse back over the component slowly and then mouse out. I've noticed the same thing if you do a handleMouseDown and handleMouseUp, and then do a fa

[2015-05-01 09:19] jviereck commented on #3
How about this:

[code]

In particular this idea:

1) Defines the style definitions on a new `<StyleDefinition .../>` tag, which allows
to have child elements
2) The child elements of the `StyleDefinition` can then define how the styles
change e.g. when using media queries or hovering over the element using the
styles
3) Because the styles are now defined as a separate entity, it is possible to ge

[2015-05-01 09:45] chcokr commented on #7
I think the point is to include the styling into the parent `<Display>` element (e.g. `<Block>`, `<Flex>`). If you don't want to specify positioning info, then I guess you could still use the `style` attribute within the `<img>`?

[2015-05-03 10:05] threepointone opened #12 "add a line to docs about passing event handlers"
Discovered that I can do this -
[code]

Very cool! please add a line to the docs to let people know? Please and thanks!

[2015-05-03 10:42] threepointone commented on #2
How about
[code]

[2015-05-05 10:53] sgwilym opened #13 "Flex components do not work in Safari"
Safari currently only supports Flex with the `-webkit-` prefix. To get Flex components working in Safari you currently have to do the following:

[code]
This doesn't fully solve the problem, as Flex related properties (eg. `flexGrow`) would need the same autoprefixing treatment that `userSelect`, `transition`, `boxShadow` and `fontSmoothing` currently get.

Edit: Actually, I'm a bit mystified as t

[2015-05-06 14:59] wmertens commented on #13
I made a thing for that: https://gist.github.com/wmertens/78c840ce04b6e9a1193d

I'd make it into an npm package if someone could tell me what the path of minimum resistance is for setting up an npm repo that needs to compile coffeescript to javascript before updating.

[2015-05-06 16:08] KyleAMathews commented on #13
@wmertens put all your coffeescript in a `/src` (or lib or modules or whatever) and [add a prepublish script](https://docs.npmjs.com/misc/scripts) that compiles your code to `/dist`. Point the `main` key in the package.json to `/dist/index.js`

[2015-05-06 18:32] petehunt commented on #13
Fixed in https://github.com/petehunt/jsxstyle/commit/b7245649e7d48a0a2a05c7c66a1e2eb3dd153759 ;)

[2015-05-06 18:32] #13 closed

[2015-05-08 11:56] ksmth commented on #3
@jviereck, @chrislloyd: I think what @petehunt is trying to say is that we should use the AST to our advantage and look for certain patterns. When finding these patterns, we already know the affected CSS property. Instead of bailing completely and saying "oh no, this is not a static value", we transform an expression like `<Block width={window.innerWidth > 640 ? '100%' : 320} />` to a media query.

[2015-05-11 01:25] necolas commented on #9
Why `FlexRow` and `FlowCol` rather than just `Flex`?

[2015-06-15 21:30] jrunning commented on #7
Via some trial and error I discovered that you can pass a tag name as the `component` prop and props as the `props` prop. However, assigning other props (e.g. `src`) works, but proves a little wonky:

[code]

I'm not sure this behavior is intentional, but it would nice if `props` was blacklisted from the styles.

[2015-09-12 23:26] qimingweng commented on #11
I think hovering will continue to be a hard problem for inline styles. I like how JSS solves it, which is through classnames. Since JSXStyle also can export to classnames, maybe there can be a declarative way of adding hover/active styles this way too? Not sure what the API would look like though.

[2015-09-14 07:24] petehunt commented on #11
Do you have a repro for this? I've seen it sporadically drop mouseEnter and mouseLeave events

[2015-09-14 07:26] qimingweng commented on #11
One way I've achieved it in the past is if I hover over the element, use command tab to switch to a different app, then switch back and have the cursor already outside of the element.

[2015-09-14 17:09] petehunt commented on #11
I fixed this at Smyte using this component: https://gist.github.com/petehunt/c2a1aa6bb30cb4699bd8

If there is significant interest I'd probably be OK moving this and its corresponding `ClickRegion` component into `jsxstyle`, or we could see if @spicyj would want a new `EnterLeaveEventPlugin` that uses hit testing.

[2015-11-08 06:02] hallister commented on #12
That's an arrow function and it works for any project that uses an ES6 shim. But you can define a function inline in ES5 as well:

`<Flex props={{onClick: function() { alert('event handlers!') }.bind(this) }} />`

Regardless, it isn't specific to jsxstyle, it's just ES6.

[2015-11-08 06:22] threepointone commented on #12
Sorry if I wasn't clear. Point wasn't about the arrow function, but that I could define event handlers for a Flex component via the `props` prop. This is not mentioned in the docs anywhere.

[2015-11-08 06:28] hallister commented on #12
Ah, I see. You can pass any prop via the `props` prop since it's just merging them. However, unless he's recently fixed it I believe there's still a bug such that a `props` tag will be added to your style, so you'll end up with a style tag like `style=...props:[object Object]...`.

[2015-11-10 20:42] py-in-the-sky opened #17 "Offload autoprefixing to an existing library"
Would this work instead?  https://github.com/postcss/postcss-js

If you haven't already considered this and it seems like something interesting and useful to you, I'm willing to test it and make a PR to include it.

[2016-01-26 22:24] jaredpalmer opened #18 "Spread attributes and extractStyles.js"
Seems like `extractStyles.js` isn't parsing JSX spread attributes.

[code]

[code]
[code]

[2016-04-29 13:34] iest opened #21 "Flex component doesn't get display:flex style"
No matter what I try, the `<Flex>` component just doesn't ever have a `display` value of `flex`.

I dove into the source and in [autoprefix.js](https://github.com/petehunt/jsxstyle/blob/master/lib%2Fautoprefix.js#L87) the string `display:-webkit-flex;display:-ms-flexbox` is being added on to the style definition.

If you try:

[code]

the styles never come through. However:

[code]

works as expec

[2016-04-29 13:53] wmonk commented on #21
I saw your comment from twitter 😄

Pulled the example directory and just changed it to use the `Flex` component. The CSS it generated works fine, because it puts it into a `<style>` tag like this:

[code]

_not_ as an inline style.

[2016-04-29 14:06] iest commented on #21
@wmonk that's using the jsxstyle webpack loader right? I'm using webpack usual style-loader... everything else works as expected — apart from the issue above.

[2016-04-29 15:02] wmonk commented on #21
How does that work? The style loader should pickup imported stylesheets, whereas, as far as I can tell jsxstyle will just put everything into style tags. Can you post your webpack config?

[2016-04-29 23:00] appsforartists commented on #12
Seems like it should know which props a DOM node accepts and pass those through rather than putting them on `style`.

For instance, `ref`, `key`, and anything starting with `on` should be ignored by `jsxstyle` and passed through unmolested.

[2016-04-30 14:24] iest commented on #21
So I don't really know how or why, but in my project the styles are in-line on the dom nodes and jsxstyle isn't doing any appending to the head or anything.

Into the rabbit hole...

[2016-04-30 14:24] #21 closed

[2016-04-30 14:47] iest commented on #21
Realised the last npm published version of this is `0.0.18` — installed direct from github and now everything works perfectly (with the styles being appended to the head).

So weird.

[2016-06-01 01:53] ryanflorence opened #23 "React 15 doesn't appear to work"
In React 0.14:

[code]

Gives me this html output:

[code]

And displays in a row, as expected.

With React 15, I get this HTML:

[code]

And, as you can expect, it doesn't look correct because the top node doesn't get the style. I thought maybe something was up w/ the root node not working, but even deeper components still don't get the style applied.

[2016-06-01 01:59] ryanflorence commented on #23
I won't have the time to dig into this right now, so I'm just going back to 0.14. Maybe in a few weeks I'll resurface and be able to take a peek at why this isn't working, might be really simple.

[2016-06-01 05:55] meyer commented on #23
@ryanflorence looks like the issue is due to the move from `innerHTML` to `createElement` in React 15:

https://github.com/facebook/react/issues/2020#issuecomment-123402094

[2016-06-01 06:22] meyer commented on #23
Hmm, looks like `CSSPropertyOperations.createMarkupForStyles` is doing the right thing. I’m guessing it’s `createElement`.

![image](https://cloud.githubusercontent.com/assets/13781/15699939/b0207a66-2785-11e6-9067-a6d3d67cac1a.png)

[2016-06-01 06:29] meyer commented on #23
Oh hey, looks like this was already discussed here: https://github.com/petehunt/jsxstyle/issues/21

[2016-06-01 06:43] meyer commented on #23
Looks like a combination of all of the above. When I’m hot reloading and I add a semicolon followed by anything else to a style value, `createMarkupForStyles` complains and refuses to update the inline CSS. Upon refresh, the display prop is no longer set.

![image](https://cloud.githubusercontent.com/assets/13781/15700262/d2dcf604-2787-11e6-8a51-d56e32000b9d.png)

The good news is that the problem

[2016-07-06 18:46] taxiowa opened #26 "@petehunt"
I know I am in the wrong place, but my son has a Masters degree in Education and is thinking of changing careers.  He is interested in coding boot camp.  He is 26 and very smart and is currently an AD of high school.  I was wondering if this was worthwhile. @petehunt

[2016-07-06 19:57] #18 closed

[2016-07-12 06:32] petehunt commented on #26
Hi @taxiowa - I think it is probably worthwhile. Happy to discuss via email at floydophone at gmail dot com, but GitHub issues aren't the place :)

[2016-07-12 06:32] #26 closed

[2016-07-22 23:11] jaredpalmer opened #28 "Pseudo Selector API Proposal"
What if jsxstyle's CSS extractor looked out for special reserved prop prefixes such as `hover`, `focus`, `active` (for starters) and added the psuedo selector declaration accordingly. I'm aware that this would not bring jsxstyle to full parity with CSS pseudo-selectors, but it would solve ~80% the challenges with buttons and inputs.

[code]

[code]

[2016-07-23 21:10] petehunt commented on #28
Let's do it!

[2016-07-24 21:35] meyer commented on #17
this looks like an interesting prefixing option as well: https://github.com/rofrischmann/inline-style-prefixer

[2016-08-08 18:22] ryanflorence commented on #23
Looks like installing from github (`npm install petehunt/jsxstyle`) works with react 15.

[2016-08-08 18:22] #23 closed

[2016-08-10 02:05] ryanflorence opened #32 "Pass non-CSS props as normal props"
Since no styles start with `on`, seems like the API could pass along any props that start with `on` as normal event handlers, instead of the hacky `props={}`.

[code]

This would make wrapping these elements more flexible, like when you need to `cloneElement(children)`

[2016-08-10 21:42] petehunt commented on #10
I added it as a dev dep

[2016-08-10 21:42] #10 closed

[2016-08-10 21:43] petehunt commented on #32
I'm like 85% sold on this. If we do it, we should probably introduce jsxstyle-ified `Input`, `Img` etc tags too.

[2016-08-10 21:46] petehunt commented on #32
The way I've currently thought about it is jsxstyle is for style components only, and you need to explicitly introduce separate components for interaction and event handling. It "feels" like a good idea similar to how templates felt like a good idea, but in practice it's annoying.

I think I just convinced myself 100% that we should do this :)

[2016-08-10 21:48] petehunt commented on #5
fixed contextify dep

[2016-08-10 21:48] #5 closed

[2016-08-10 21:49] petehunt commented on #7
merged the fix for the bug, more discussion in #32

[2016-08-10 21:50] petehunt commented on #12
More discussion in #32

[2016-08-10 21:50] #12 closed

[2016-08-10 21:50] petehunt commented on #32
What if instead of passing any prop prefixed with `on`, we just passed any prop that isn't in a whitelist of style props?

[2016-08-10 21:50] petehunt commented on #28
we merged it!

[2016-08-10 21:50] #28 closed

[2016-08-10 22:29] jaredpalmer commented on #32
@petehunt if we merge #29 , we'd have to also whitelist all pseudo-selector combinations. It's what I wanted to do with #30 initially. Just wasn't sure if a whitelist solution would be performant.

[2016-08-11 12:08] danielberndt opened #33 "State of this project?"
Even though jsxstyle is one of the "older" approaches for css-in-js, I still believe it's one of the most promising solutions out there right now. (Backed up quite nicely by @ryanflorence in [this video](https://www.youtube.com/watch?v=EkPcGS4TzdQ))
Actually I'm using something similar (but crappier) for my current app: Components similar to yours for Layouting, css-files for making it look pretty

[2016-08-11 12:14] threepointone commented on #32
Been using a variant of the whitelist (I also include pseudo selectors etc) for my jsxstyle-ripoff, and it's been nice, no real perf hit https://twitter.com/threepointone/status/763286296802447364

[2016-08-12 02:31] petehunt commented on #33
jsxstyle started as a proof-of-concept for extracting static stylesheets from inline styles. We later built some components with it at Smyte, and we never stopped building components with it.

While we aren't Facebook, Smyte exclusively uses `jsxstyle` for all styling in the app. We are in production, well funded and **we write code that depends on `jsxstyle` every day**. Our app fairly substantia

[2016-08-12 12:09] danielberndt commented on #33
Thanks a lot for this very helpful reply. It makes me a lot more confident investing more time into this project and, if time and opportunity allows, to contribute :)

[2016-08-12 12:09] #33 closed

[2016-08-19 20:28] jaredpalmer opened #35 "How do I access webpackLoader now?"

[2016-08-20 18:58] meyer commented on #2
Since the tag/component can now be specified with the `component` prop, I’m going to assume this issue is ok to close.

[2016-08-20 18:58] #2 closed

[2016-08-20 18:59] #1 closed

[2016-08-20 19:02] #7 closed

[2016-08-20 19:02] #11 closed

[2016-08-20 19:07] meyer commented on #35
@jaredpalmer A bit of context would be super helpful. Have you been using the webpack loader? At this point in time it’s still a proof of concept and would need more work before it’s fully usable.

[2016-08-24 08:02] xastor opened #36 "Flex component does not work"
The Flex component fails at setting the css display property.  In the autoprefix.js file, this code tries to set multiple values, which results in the value being ignored by the browser.

`if (style.display === 'flex') {
  style.display = style.display + ';display:-webkit-flex;display:-ms-flexbox';
}`

[2016-08-25 19:53] jaredpalmer commented on #35
@meyer I have been using the webpackLoader since day one. didn't know that it was experimental. 😂  Good news....using in the build step of 2 apps for last ~7months (maybe longer) without an issue. The problem I had the other day was that these apps were installing jsxstyle#master directly from github to work with react 15 if I recall. When you went to update to babel a few days ago, it broke two a

[2016-09-04 04:18] meyer commented on #35
@jaredpalmer glad the loader is working!

re build breakage, I expected that to be an issue. I’d like to keep compiled files out of the repository unless having them checked in is absolutely necessary. The contents of `./src` will be compiled with each release that’s published to npm, though, and in the future we’ll push alphas, betas, and RCs to npm, so installing straight from npm it’s probably

[2016-09-04 04:18] #35 closed

[2016-09-15 08:41] danielberndt commented on #28
Great stuff! :)

It seems it's not part of the latest release (`0.0.22`) though? Do you have any chance to have a look at it?

[2016-09-20 20:43] petehunt opened #38 "Move to Smyte org action items"
- [x] Injectable autoprefixer (@petehunt)
- [x] Version → 1.0 (@petehunt)
- [x] Make clear that the webpack loader is experimental (@petehunt / @meyer)
- [x] New, simplified docs (@petehunt / @meyer)
- [x] `LICENSE` (Apache 2) (@petehunt)
- [x] Roadmap (@petehunt / @meyer): https://github.com/smyte/jsxstyle/projects/1

[2016-09-27 20:03] meyer commented on #17
@py-in-the-sky we’re [working on making the autoprefixer injectable](https://github.com/smyte/jsxstyle/commit/ec18fca37cd8747925222d86d1c24164a0fe1326) so you can drop in a CSS postprocessor of your choosing.

[2016-09-30 05:41] bryzaguy opened #40 "Occasionally getting an error when building example app."
I occasionally get the following error when building the sample app:

<img width="607" alt="screen shot 2016-09-29 at 10 20 25 pm" src="https://cloud.githubusercontent.com/assets/2603435/18981730/be80595e-8695-11e6-8dd3-000138fd8663.png">

[2016-10-01 16:50] meyer commented on #40
@bryzaguy hmm, that’s funky. I’ll take a look.

[2016-10-03 11:44] nelix commented on #9
I'm not sure reducing the number of components is useful, perhaps a focus on allowing code to be more expressive? Perhaps @petehunt could grab some metrics on common Component/prop combinations to aid in thinking up some more expressive names for the most common concepts?

[2016-10-06 14:06] danielberndt commented on #3
Here comes another suggestion which is inspired by the hover/focus/active API which is implemented already.

First off you need to define your breakpoints in some global(?) register. We could use `GlobalStylesheets.injection` since this seems to be the place to customise jsxstyle from the user perspective right as of now. So let's assume we do it like this:

[code]

now we can use the `media`-pref

[2016-10-07 20:16] jaredpalmer commented on #35
@meyer when are you expecting to bump the npm version?

[2016-11-03 12:16] MofeLee opened #44 "Uncaught TypeError: Cannot read property 'appendChild' of null"
version: 1.0.1
Android 5.1.1

![image](https://cloud.githubusercontent.com/assets/5069410/19965417/d9e24cca-a201-11e6-88fb-1264db6cb547.png)

![image](https://cloud.githubusercontent.com/assets/5069410/19965519/55ad558e-a202-11e6-8964-611cd91459fe.png)

[2016-11-03 14:49] MofeLee commented on #44
version 0.0.22 works fine

[2016-11-03 16:08] StokeMasterJack opened #45 "Declare event handlers directly on layout elements"
It would be nice to do this:
`<Block  onClick={this.onRowClick}>Click Me</Block>`

instead of this:
`<Block  props={{onClick: this.onRowClick }}>Click Me</Block>`

[2016-11-03 21:39] tehfailsafe opened #46 "TypeError: undefined is not a function (evaluating 'name.startsWith('hover')')"
Getting a strange error, any idea where this could be coming from? Super simple setup...

[code]

[2016-11-04 19:24] #46 closed

[2016-11-04 19:24] tehfailsafe commented on #46
Fixed with polyfil

[2016-11-08 14:38] danielberndt commented on #45
I guess this is a duplicate of https://github.com/smyte/jsxstyle/issues/32?

[2016-11-08 15:43] StokeMasterJack opened #47 "Conditional rendering attribute"
I know there is already a way to do this using javascript. But sometimes it would be just cleaner to do this:

<Block show={isAdmin}>
     Click Me
     Click Me
     Click Me
     Click Me
</Block>

I figure if the show attribute is omitted, it defaults to true.

[2016-11-09 12:14] moimael opened #48 "Jsxstyle plugin missing dependency"
Hi,

I'm trying to use the JsxstylePlugin with webpack and it seems that it require the tmp dependency, which is not installed with jsxstyle.

Installing it manually solve the issue, but it should probably come with jsxstyle.

Thanks.

[2016-11-10 00:38] meyer commented on #44
@MofeLee hmm, this doesn’t look related to jsxstyle. If you see that error again, can you open the stack trace next to the error and post a screenshot here?

[2016-11-10 00:41] meyer commented on #45
@danielberndt yep!

[2016-11-10 00:41] #45 closed

[2016-11-11 08:21] #48 closed

[2016-11-11 08:24] meyer commented on #48
@moimael added, thanks!

[2016-11-11 08:34] meyer commented on #47
@StokeMasterJack since jsxstyle is primarily focused on styling React components, conditional rendering is a bit out of scope. Conditional rendering can be done quite a few different ways. At Smyte we tend to separate out conditionally-rendered elements from the main return value of `render` and set the variable value to something if the required conditions are met:

[code]

Hope that makes sense.

[2016-11-11 08:34] #47 closed

[2016-11-11 08:39] meyer commented on #40
@bryzaguy I’ve cleaned up example a bit and building has been running smoothly for me. I’m going to close this issue, but please feel free to reopen it if you see it pop up again.

[2016-11-11 08:39] #40 closed

[2016-11-11 08:44] meyer commented on #44
@MofeLee I’m going to close this as it doesn’t look related to jsxstyle. If you see this error again, can you reopen this issue? It would be extra helpful if you could open the stack trace next to the error as well. Thanks!

[2016-11-11 08:44] #44 closed

[2016-11-11 08:47] meyer commented on #36
@xastor this issue should be fixed in the latest version of jsxstyle.

[2016-11-11 08:47] #36 closed

[2016-11-16 05:17] meyer commented on #9
Proposal:

||Current|Future|
|---|---|---|
|`Inline`|✅️|✅️|
|`Block`|✅️|✅️|
|`InlineBlock`|✅️|✅️|
|`Row`|✅️|✅️|
|`InlineRow`||✅️|
|`Col`|✅️|✅️|
|`InlineCol`||✅️|
|`Flex`|✅️||
|`InlineFlex`|✅️||
|`Table`|✅️||
|`TableRow`|✅️||
|`TableCell`|✅️||

Most used components for me are `Block`, `Row`, then `Col`.

With `Table` and friends, I’m on the fence. I’m not sure there’s a benefit to using `div`s with

[2016-11-16 05:26] meyer commented on #3
@danielberndt ooooh, I really like this idea. I’m not super crazy about the `media` prefix and resulting case change for the specified key, but that’s super minor. It’s a really solid concept that makes sense to me.

[2016-11-16 10:21] danielberndt commented on #3
Cool @meyer, I'm really glad you like it :)

In the meantime I've discovered that [glamor](https://github.com/threepointone/glamor) introduced a [jsxstyle clone](https://github.com/threepointone/glamor/blob/master/docs/jsxstyle.md) which solves the media query issue with an API like this:

[code]

I quite like this approach as well as it's much more low-level. And based on this API it's also fairl

[2016-11-16 18:35] meyer commented on #9
Additional thoughts:
* `Box` might be a good generic name for a containing element.
* inline-ness could be a boolean prop: `<Box inline />`, `<Row inline />`, etc. Only problem is `InlineBlock`. flexbox has mostly removed my need for `display: inline-block` though.
* I like the idea of making primitive layout components a little bit abstract but not too mysterious.

[2016-11-17 00:59] appsforartists opened #50 "Compatibility with react-dom@15.4.0"
[code]

[2016-11-17 22:29] meyer commented on #50
@appsforartists this change will break React 0.14 compatibility. Will chat with @petehunt IRL about what we should do.

[2016-11-18 10:15] moimael commented on #17
It seems to be merged, is the use of this documented somewhere ?

[2016-11-21 01:18] meyer commented on #17
@moimael it’s not documented yet, but I’m redoing the example at the moment and will be updating the documentation as well.

[2016-11-22 02:25] appsforartists opened #53 "will-change for inline styles"
If you animate the value of a jsxstyle (e.g. change `<Block transform = { someChangingValue } />`), you end up with a new style node for every value of `someChangingValue`.  I haven't done extensive performance testing, but my intuition says generating a new style sheet on every frame can't be good for performance; it's less work to set a single style than to instantiate some DOM, inject it into `

[2016-11-22 09:08] meyer commented on #53
@appsforartists this is an issue we’ve run into a few times as well. Creating a new stylesheet on every frame definitely isn’t great. The not-ideal workaround right now is to just use a plain div.

Ideally, style props that change frequently would either be included as actual inline style attributes or would have a special classname and corresponding style tag in `head`. I don’t have a specific op

[2016-11-22 09:23] danielberndt commented on #53
I might out myself as a glamor fanboy here by referring to their solutions once again, but its jsxstyle api would solve it like this:

[code]

i.e. glamor supports the "old-school" `style` attribute which will be applied as normal inline style onto the dom element. Quite a nice and straight-forward approach to me at least :)

[2016-11-22 13:14] Andreyco commented on #50
@appsforartists Superb, thanks for PR. Hope it gets merged soon!

[2016-11-22 19:23] tehfailsafe commented on #50
Yes please. Just updated and can't build.

[2016-11-22 20:45] appsforartists commented on #53
The thing I like about willChange is you should be setting it anyway if you're animating a property.  If jsxstyle parsed it, you'd be doing the right thing for free.

[2016-11-23 02:16] meyer commented on #53
@danielberndt ah yeah, we’ve discussed that option. I’m a fan. I think the only issue is that it moves style props to second level (prop of a prop) but it doesn’t bother me too much, especially given how infrequently it’ll be used.

[2016-11-23 06:55] appsforartists commented on #53
@meyer Yup.  They [already do](https://developer.mozilla.org/en-US/docs/Web/CSS/will-change).  This proposal reuses those same semantics to glean out which properties should be inlined.

I like this API because authors should already be `willChange`ing any properties that animate, to allow the browser to render them efficiently.  By teaching `jsxstyle` about this property, you allow it to similarl

[2016-11-23 19:55] meyer commented on #53
@appsforartists ohhhhh, the `will-change` *CSS property*. Hmmmmmmmmmmmmmmm. `will-change` and animated jsxstyle props are definitely closely related. My only fear with adding this extra functionality to the `will-change` CSS prop is that we’d be forcing people to opt-in to `will-change` CSS to get somewhat related benefits in JS, and `will-change` is a funky CSS property that needs to be understoo

[2016-11-23 20:16] appsforartists commented on #53
It's only undoing the magic that `jsxstyle` does by default. 😉

There are three potential states:

a. You want local styles but not `will-change`.
b. You want local styles and `will-change`.
c. You want `will-change`, but not local styles.

This PR solves b.  c seems rare (_maybe_ if you're using the CSS `transition` API?).  It doesn't address a; there may be a separate solution for that.

However

[2016-11-24 04:35] #50 closed

[2016-11-24 04:44] meyer commented on #50
@appsforartists thanks for the PR! We decided to extract `CSSPropertyOperations` to its own module.

@Andreyco @tehfailsafe this should be fixed with the next release.

[2016-11-24 05:05] #4 closed

[2016-11-24 08:35] danielberndt commented on #53
I just remember [this 1.5 year old article](http://www.cssmojo.com/the-dark-side-of-the-will-change-property/) claiming that `will-change` leads to inconsistencies depending on whether a browser supports it or not. Do you have any idea whether this is still valid? IE and Edge still [don't seem to support will-change`](http://caniuse.com/#feat=will-change).

While I agree that users should be taugh

[2016-11-24 12:02] smeijer opened #55 "pass trough non css properties"
I think non-css properties, like a `onClick` shouldn't be added to the style, but should be passed trough to be handled correctly.

When now declaring a component like:
[code]

You end up with:

![image](https://cloud.githubusercontent.com/assets/1196524/20597759/37b191c4-b24e-11e6-9eeb-077fb004d9f0.png)

I think it sucks to have a whitelist due to maintainability (what if the standard releases a

[2016-11-24 12:20] Andreyco commented on #50
@meyer Thank you!

[2016-11-25 03:57] meyer commented on #53
Alrighty, I’ve thought about this some more. For the time being I’m restoring React’s default `style` prop behaviour. Commit is here: 670d1e181e30754d59462fc5f836dfa359cac67c.

I don’t think using the `style` prop to fix animation performance problems is a good long-term solution though. What I like about the `will-change` proposal is that it’s perfectly explicit, and the user can offload animatio

[2016-11-25 03:57] #53 closed

[2016-11-25 04:06] meyer commented on #55
@smeijer yep, attribute passthrough is being discussed in #32 and there’s a PR open and under consideration at #49. For now, you can pass any non-style props to the `props` prop (it’s a little meta, I know):

[code]

[2016-11-25 04:06] #55 closed

[2016-11-25 15:39] arturmuller opened #56 "Broken with react@15.4.1"
Hey there. I was just about to test jsxstyle, but missing `CSSPropertyOperations` breaks the build. I see that you've already fixed this in the repo, but it doesn't seem to be on npm, so consider this a gentle nudge. :)

Thanks for an exciting looking library!

[2016-11-25 21:28] meyer commented on #56
@arturmuller yep, this was discussed in #50. we’ll be pushing a new build soon.

[2016-11-25 21:28] #56 closed

[2016-11-25 22:01] arturmuller commented on #56
Great, thanks!

[2016-11-26 05:25] artnez commented on #55
@smeijer If you're down with using the PR now, can add the following to your `package.json`:

[code]

Obviously no guarantees that it'll be merged as-is but everything should work out of the box without extra configuration (it's also backwards compatible with the `props=` attribute).

Passing through attributes using a CSS property whitelist is likely going to happen either way so all you'll need

[2016-11-29 09:58] moimael opened #57 "Release to npm"
Hi,

Could you consider releasing the current master as a new version on npm ? It block our migration to react 15.4 which fixes some important issues with jest.

Thanks !

[2016-12-01 01:08] meyer commented on #57
@moimael just published jsxstyle 1.0.2 to npm.

[2016-12-01 01:08] #57 closed

[2016-12-02 01:55] hnordt commented on #38
I would like to be a contributor.

[2016-12-02 01:56] hnordt commented on #32
Any updates on this? Would be very nice to be able to style all tags with jsxstyle.

[2016-12-02 02:02] hnordt commented on #9
Why remove Flex? and InlineFlex?

[2016-12-03 01:33] meyer commented on #9
@hnordt `flex-direction`’s initial value is `row`. `Flex` and `Row` are essentially the same component. `Row` is a bit more explicit than `Flex`, which is a good thing IMO. `InlineFlex` becomes `InlineRow`.

[2016-12-03 01:36] meyer commented on #38
@hnordt we’re working on the roadmap at the moment. Once it’s done it’ll be a good place to see areas where you can contribute. In the mean time, feel free to open issue or submit a PR if there’s a feature that you’d like to see.

[2016-12-03 02:03] meyer commented on #32
@hnordt there’s a PR open that we’re in the process of reviewing (#49).

In the mean time you can already style any tag with jsxstyle by specifying the `component` prop.

[code]

[2017-01-11 02:09] hnordt commented on #9
Sounds good @meyer

[2017-01-25 16:14] jaredpalmer commented on #3
@meyer I agree with @danielberndt 's initial idea for responsiveness. For non-React projects, (i.e. wordpress mostly), I've had a tremendous success with Buzzfeed's [Solid](https://github.com/buzzfeed/bf-solid) CSS framework. It borrows a lot from Tachyons / Basscss, championing atomic immutable CSS classes. In that sense, it is quite similar to jsxstyle. Probably Solid's best feature is the way i

[2017-01-27 23:34] meyer commented on #3
@jaredpalmer if breakpoints are defined as a prop or props, the existing `curry` function would function exactly like `withBreakpoints` in your example.

I’ve been thinking about this for a while now, and I think there are a few options we can go with.

### Option A: `curry` + `breakpoints` prop

[code]

Defining a `breakpoints` prop directly on the component is more verbose and less magical than

[2017-02-22 19:00] rchanou opened #58 "question: how to get source paths in style inspector"
I saw an image showing this feature on Reddit, but it doesn't look like jsxstyle does this out of the box. How do I activate this?

![Style Source Example](https://pbs.twimg.com/media/CDRnDP4UMAEL2U2.png:large)

https://www.reddit.com/r/reactjs/comments/344e0o/what_do_you_you_guys_think_of_petehuntjsxstyle_is/cqrcqrq/

[2017-02-27 17:38] bogdansoare opened #59 "Theming component based on many props"
Hi, first of all I would like to say I enjoy using jsxstyle, it has really opened my eyes regarding to styling in React, so thank you for this :+1: .

The problem is I don't know how to best theme a component based on many props.

Let's say we have a **Button** that I want to style based on 2 props: **size** and **variant**
And use it in this way:
[code]

I have come up with a solution but I would

[2017-02-28 01:53] meyer commented on #59
@bogdansoare the spread operator would be super useful in this case:

[code]

[2017-03-06 00:24] StokeMasterJack opened #60 "title attribute"
If I put a title attribute on a Block tag, it doesn't show up:

<Block title="My Tooltip">

</Block>

[2017-03-13 21:40] meyer commented on #60
@StokeMasterJack non-style props should be passed to jsxstyle components via the `props` prop.

Example:
[code]

[2017-03-13 21:40] #60 closed

[2017-03-13 21:45] meyer commented on #9
Hmm. In the case where `flex-direction` needs to be set programmatically, overriding the prop on a `Row` component would be a bit strange.

[2017-03-13 22:58] meyer commented on #58
@rchanou that’s a feature of the webpack loader, but the loader hasn’t been touched in some time and needs to be updated to work with webpack 2.

[2017-03-13 22:58] #58 closed

[2017-03-16 00:39] hnordt commented on #3
I'm using `react-media`, works pretty well with `jsxstyle`:

[code]

[2017-03-16 17:08] meyer commented on #3
I’m going to close this issue, as media query support is not a high priority for us at the moment.

[2017-03-16 17:11] meyer commented on #32
After some IRL discussion with @ryanflorence I’m going to close this issue. The small number of non-style props on jsxstyle elements does not justify whitelisting every prop passed to every jsxstyle component IMO.

[2017-03-16 17:11] #32 closed

[2017-03-16 17:28] hnordt commented on #3
@meyer maybe you can add a little note on README showing how people can implement media query support using `react-media`.

[2017-03-16 17:37] rchanou commented on #3
[`react-container-query`](https://github.com/d6u/react-container-query) also looks pretty cool, though I haven't had the chance to use it myself yet.

[2017-03-16 17:39] hnordt commented on #3
@rchanou pretty cool, but I think `react-media` integrates better with the "jsxstyle world", with `react-media` you still pass props using jsxstyle elements.

[2017-03-16 17:58] meyer commented on #3
@hnordt @rchanou I’m doing some README updates at the moment. I’ll add a section mentioning media/container query libraries while I’m at it.

[2017-04-21 16:51] rperce opened #61 "React 15.5 deprecation warnings"
Using `jsxstyle` with versions of React after v15.5.0 produce the following warning:

[code]

Either `src/makeStyleComponentClass.js` needs to be rewritten or `jsxstyle` needs to add `create-react-class` as a dependency.

[2017-04-21 18:56] meyer commented on #61
@rperce yep, we’re on it 😊

[2017-04-21 18:58] meyer commented on #9
I’m still thinking about this, but will close this issue for now.

[2017-04-21 18:58] #9 closed

[2017-04-21 18:59] rperce commented on #61
@meyer awesome! Good to hear :) Let me know if you need extra testing or anything - absolutely love jsxstyle!

[2017-05-17 18:18] leoasis commented on #61
@meyer is this being worked on? If not, would you accept a PR that fixes this?

[2017-05-17 21:08] meyer commented on #61
@leoasis yep, we’ve migrated `makeStyleComponentClass.js` to ES6 classes. Will have the fix out in the next release.

[2017-05-18 13:42] leoasis commented on #61
Awesome, thanks for the response

[2017-05-31 08:52] phyrog commented on #61
Any info on when the next release will be (since there hasn't been a commit on `master` since December)?

[2017-05-31 21:23] meyer commented on #61
@phyrog I’m aiming to have a new release out in the next week or two. Will have 2.0 WIP up on a branch as soon as we get a chance to discuss things on our end.

[2017-05-31 21:31] phyrog commented on #61
@meyer Alright, thanks for the update!

[2017-06-01 05:39] hnordt commented on #61
@meyer for now it would be great to at least release a patch to resolve the annoying warnings 🙈

[2017-06-22 22:27] meyer commented on #3
I’ve thought about this quite a bit over the past few months and I’m going to be revisiting this in the near future. The API I like the best right now:

[code]

Feels like a natural extension of the jsxstyle API to me. Opinions/feedback appreciated.

[2017-06-22 22:32] jaredpalmer commented on #3
@meyer +1 i like this API 10x better than the way glamor-jsxstyle handles it.

[2017-06-22 22:36] meyer opened #62 "RFC: Support more commonly-used pseudoclasses"
The main pseudoclass I miss right now is `:placeholder`, but there are quite a few more we don’t support: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

[code]

[2017-06-25 04:21] natew commented on #38
Any update on roadmap? Mostly curious: will a lot change API-wise in next version?

[2017-06-26 04:22] meyer commented on #38
@natew the API will remain the same; updates to jsxstyle will build on the existing API.

Honestly, I’ve had a hard time coming up with a roadmap because jsxstyle is pretty close to what we need both at Smyte and in my personal React projects. As far as what’s next: I’d like to put some effort into performance and reliability. We do a few sensible things, like garbage collecting unused styles, but

[2017-06-26 04:22] #38 closed

[2017-07-05 17:43] jaredpalmer opened #64 "Jest snapshot serializer"
If you're using jest snapshots with jsxstyle, this is the current output:

[code]

Would be helpful to get something like [jest-styled-components](https://github.com/styled-components/jest-styled-components) or [jest-glamor-react](https://github.com/kentcdodds/jest-glamor-react) for jsxstyle.

Output would ideally look like:
[code]

We would need to write our own matcher and serializer, but then y

[2017-07-11 07:19] meyer commented on #64
@jaredpalmer this would be rad. What would be necessary from the jsxstyle side of things? A hook right where styles are added to document head?

I’ve got a v2 development branch I’m hoping to get pushed up to Github in the next few days. A lot of things have shifted around, but the branch is in a good place. I think adding the necessary bits for better rendering will be pretty straightforward.

[2017-07-11 13:18] jaredpalmer commented on #64
@meyer awesome. will get going once you push.

[2017-08-01 19:47] jaredpalmer commented on #64
@meyer what's the status of your v2 branch?

[2017-08-02 20:09] #61 closed

[2017-08-02 20:09] #3 closed

[2017-08-02 20:09] #62 closed

[2017-08-02 20:15] meyer commented on #64
@jaredpalmer I just pushed the latest code to master a few minutes ago. Shout if you have any questions.

[2017-08-02 20:25] jaredpalmer commented on #64
@meyer sweet. looking through now.

[2017-08-02 20:49] meyer commented on #64
@jaredpalmer the injectable `addRule` function might be of interest to you:

https://github.com/smyte/jsxstyle/blob/7a10d07c909d870a929a7e5dca32a84accab3deb/src/styleCache.js#L26-L29

I added it for use with server rendering but it’s there to intercept the adding of styles to the document.

[2017-08-02 23:11] jaredpalmer commented on #64
@meyer What's the plan for SSR?

[2017-08-03 14:35] meyer commented on #64
@jaredpalmer no formal plan, but there are a few things in place for SSR:
- generated class names now use a content hash instead of an incrementing ID, so the same set of CSS props and values are guaranteed to get the same class name.
- the `insertRule` stuff I mentioned above.

Super rough example of `insertAddRule` in use:

[code]

If you’ve got SSR ideas or opinions I’m all ears! If it’s issue-

[2017-08-03 17:46] jaredpalmer commented on #64
@meyer have a prototype here: https://github.com/jaredpalmer/jest-jsxstyle

Got jest working.

Still trying to get enzyme's `mount` and `render` to work (not that pressing though).

Also, I'm not sure I fully understand how/if I should be clearing out the style cache between prints.

[2017-08-04 12:37] meyer opened #67 "Add support for frameworks other than React (Preact, …?)"
There’s nothing terribly React-specific in jsxstyle. Supporting other frameworks shouldn’t be too difficult.

[2017-08-05 23:55] charlie-axsy opened #68 "Expand on motivation / justification for jsxstyle"
Regarding the section in the FAQ which states that:

Since believing in this opinion is vital to developers deciding whether to use this library, please can you expand the readme with more evidence on why you believe that components are the right abstraction.

[2017-08-06 06:57] meyer commented on #68
@charlie-axsy very good point. The README is horrendously out of date, but I’m working on a rewrite at the moment. I’ll be sure to explain this more clearly.

[2017-08-06 10:31] meyer commented on #64
@jaredpalmer ooh neeeeat. I’m on vacation at the moment but I’ll take a look in a bit.

`resetCache` should be called in between every render (before, to be safe). If a CSS string is present in the cache object, [`insertRule` will not be called][commit]. I considered putting the cache object check in the `insertRule` method instead, but I figured it’s basic deduplication behaviour that anyone who

[2017-08-07 08:36] meyer opened #69 "Basic in-browser testing with Browserstack/Sauce Labs"
In order to guarantee that jsxstyle works without issue in IE9 and better, we should test a small app built using jsxstyle in a real browser with one of these services.

[2017-08-07 08:38] meyer commented on #69
nice 😎

[2017-08-08 18:50] jaredpalmer opened #70 "RFC: Use arrays for media query values"
@meyer An idea for a more concise API for media queries:

## Current Behavior:

[code]

## Desired Functionality:

[code]

[2017-08-10 07:05] meyer commented on #70
@jaredpalmer I’ve seen this syntax in a few different CSS in JS libraries and I kind of dig it, but I went with the more explicit version for a few reasons:

1. we’ve got precedent for using prefixes. Doesn’t mean everything needs to fit into the prefix model but it’s a thing to consider when adding new features.
2. with separate props for each style prop, we get existing prop merging behaviour fo

[2017-08-10 12:49] jaredpalmer commented on #70
Okay. You've convinced me.

[2017-08-10 12:49] #70 closed

[2017-08-14 14:43] meyer opened #71 "CSS animation support"
CSS animations are one of the last items on my list of reasons to use an external stylesheet.

We could add object property support to the `animation` shorthand property:

[code]

Behind the scenes the animation object would get crunched into `@keyframes` with a content-hashed name, and the `animation` prop on the final style object would get replaced with that hashed name as the `animationName` p

[2017-08-14 16:59] meyer opened #72 "Convert fractional widths between 0 and 1 to percentages"
I’m a big fan of [rebass](https://github.com/jxnblk/rebass)’s fractional width feature.

[code]

Pros:
- Component code is a lot easier to read.
- It’s easier to integrate constants.

Cons:
- it’s slightly magical.

[2017-08-14 18:04] petehunt commented on #72
That seems like a good idea.

[2017-08-16 18:18] meyer opened #73 "Direct descendant selector support"
Sometimes hovering on a thing or clicking on a thing should affect a child element. Creating a separate stylesheet just for this functionality seems a bit silly to me.

I think there’s a nice way we could expose very limited support for descendant selectors.

## Proposal

It’s a two part thing.

### Part 1: the parent

If…
1. a style prop on a `jsxstyle` element is prefixed with a pseudoclass, and

[2017-08-16 21:20] meyer commented on #73
Thoughts for descendant selector support:

Prop names in these examples are obviously not final.

#### Option A: specify a className

[code]
👍 uses an existing prop
👍 concept makes sense; less mysterious
👎 className can be a known thing, and that could lead to collisions

#### Option B: share a key:

[code]

👍 final class name isn’t known. The key can be an object or weird string that the componen

[2017-08-16 21:21] meyer commented on #73
Oh yeah, and with either of these, omitting the prop on the parent would make `jsxstyle` fall back to using the direct descendant selector.

[2017-08-20 19:20] #72 closed

[2017-08-20 19:21] meyer commented on #67
I just added preliminary `preact` support, so I’m going to close this for now.

[2017-08-20 19:21] #67 closed

[2017-08-23 14:32] jaredpalmer opened #74 "RFC: Vertical and Horizontal helpers like RN"
`paddingVertical`, `paddingHoriztonal`, `marginVertical`, `marginHorizontal`

[2017-08-23 15:48] meyer commented on #74
Interesting. I’ve seen this in a few other places as well, most notably Tachyons with `ph` and `pv` classes. I’m into it. Should be trivial to implement, too.

[2017-08-24 04:58] L42y opened #75 "placeholder rule can cause error in specific browser"
<img width="923" alt="screen shot 2017-08-24 at 12 52 18 pm" src="https://user-images.githubusercontent.com/284820/29650157-a175c5f8-885e-11e7-92b1-078962b2abed.png">

error is caught in android webview which have user agent: `Mozilla/5.0 (Linux; Android 5.1; m3 note Build/LMY47I) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/40.0.2214.127 Mobile Safari/537.36`, guess it's chrome for a

[2017-08-24 05:17] meyer commented on #75
@L42y oh weird. good catch, thanks, I’ll take a look. I suspect it’s happening because `insertRule` has very strict validation and Chrome for Android 40 most likely only supports the `::-webkit-input-placeholder` pseudoelement.

[2017-09-03 04:06] meyer commented on #74
I’m not sure where to add this yet, but I’m still thinking about it.

[2017-09-03 04:54] meyer commented on #74
@jaredpalmer One edge case I’m not sure how to handle is if the user specifies the shorthand prop as well as the normal prop. `jsxstyle` props are alphabetised before they’re applied, so you wouldn’t be able to rely on key order.

[code]

How does React Native handle that case?

[2017-09-03 05:08] #75 closed

[2017-09-03 05:11] meyer commented on #75
@L42y I’ve wrapped `insertRule` in a try/catch block for now. Unfortunately there’s not much else I can do since we’ve decided to move away from autoprefixing at runtime.

[2017-09-03 05:56] meyer commented on #17
@py-in-the-sky @moimael at long last, an update! I’m so sorry for the lack of communication on this issue.

I thought quite a bit about how best to implement a runtime autoprefixer. Quite a few options exist already, but I really hate the idea of shipping a function to the client that generates the same basic thing over and over again. Really, I want the power and flexibility of a comprehensive au

[2017-09-03 05:56] #17 closed

[2017-09-05 08:59] L42y commented on #75
@meyer thanks, that's enough for now, since I'm using jsxstyle-loader to generate CSS for production environment.

[2017-09-05 17:14] meyer commented on #75
@L42y right on, glad you’re finding it useful. Let me know if you run into any funky edge cases.

[2017-09-13 04:43] #69 closed

[2017-09-13 16:21] meyer commented on #71
Closing for now.

[2017-09-13 16:22] meyer commented on #73
Closing for now.

[2017-09-14 09:15] sgwilym commented on #64
@jaredpalmer @meyer Thanks for putting together this serialiser, it adds some much needed context to our snapshots! [I've opened a PR](https://github.com/jaredpalmer/jest-jsxstyle/pull/1) for resetting the cache in jest-jsxstyle - is [this](https://github.com/jaredpalmer/jest-jsxstyle/pull/1/files#diff-4568d5ad520ddb6de4962d49a9de1047R19) the right place to do so?

[2017-09-14 17:31] steadicat commented on #73
Would love this feature. A few more options below.

The way `glamor-jsxstyle` does it, except with unique keys instead of class names:
[code]

Similar to the above, but inverted so the rules are defined closer to where they are applied. The `hover` object becomes a little harder to parse though:
[code]

This last one is not as powerful (can't have multiple parents targeting a single child), but it

[2017-09-14 18:47] meyer commented on #73
@steadicat Yeah, the simplest API is definitely the best IMO. Right now I can explain the concept of `jsxstyle` in a pretty short sentence and I can explain the particulars in another short sentence. I’d like to keep it that way if at all possible.

I like that parent styles that affect the child are defined on the child in your examples. Makes a lot of sense. I wonder if there’s a way to implemen

[2017-09-14 19:50] steadicat opened #76 "Document `Box`"
The `Box` component (unstyled `div`) is useful in some cases, for example for components where the `display` prop can be passed in or overridden by a parent. `Block` can cause a CSS conflict, with the `display: block` rule sometimes taking higher precedence. It would be nice if `Box` were mentioned in the readme.

[2017-09-14 21:09] meyer commented on #76
@steadicat Since the initial styles applied to each primitive component are passed as `defaultProps`, the `display` property can always be overwritten or cleared.

[code]

`Box` was intended to be a companion to `jsxstyle-loader` but I can see how it might be useful elsewhere. I’ll add it to the README.

[2017-09-14 21:47] steadicat commented on #76
Cool. FWIW, I’m pretty sure I ran into a case where using `Block` instead of `Box` caused a `display: block` rule to be added which conflicted and took precedence. I think it was something like this:

[code]

[2017-09-14 22:05] meyer commented on #76
Ha, this is wild. Yeah, in this case, since no actual props are set, `Block`’s default props are applied to the component specified in the `component` prop. `Inline`’s default props aren’t used since they’re already specified by the `Block`.

In the minimal example you’ve provided, it would be better to set `display` to `inline` than to set `component` to another `jsxstyle` component, but I’m not

[2017-09-14 22:26] meyer commented on #74
I’ve been thinking about this a bit and I think it would work best as a babel transform.

I’m working on making some utilities that would make writing `jsxstyle`-specific babel transforms a bit easier. The babel plugin helper in particular would visit all `JSXElement`s and call the callback only when it encounters a valid `jsxstyle` `JSXElement`.

Would look something like this:

[code]

[2017-09-14 22:51] meyer commented on #75
@L42y thanks again for the report. As it turns out this was an issue in quite a few browsers:

https://travis-ci.org/smyte/jsxstyle/builds/275171074#L562

[2017-09-15 06:51] meyer commented on #68
@charlie-axsy I’m working on the README at the moment. Is there anything in particular about the component model that doesn’t make sense to you? What are you comparing it to?

[2017-09-16 03:52] chenxsan opened #77 "Does jsxstyle support `:before`?"
Looks like `beforeContent='content'` doesn't work:

[code]

[2017-09-16 05:11] meyer commented on #77
@chenxsan I added `:before` and `:after` support a few beta version ago, but I ended up removing it because of unexpected behaviour when passing empty strings as the value of the content property. Empty strings are falsey and are therefore not rendered in the final output CSS, but with the `content` property, sometimes an empty string _is_ the desired value.

I’m considering adding support back be

[2017-09-16 05:12] meyer commented on #77
For reference, here’s the discussion around `:before`/`:after`: https://github.com/smyte/jsxstyle/commit/ae1658ae48a0130af608e475b350fe73fc364b7f#comments

[2017-09-16 05:14] meyer commented on #77
For reference, here’s the discussion around `:before`/`:after`: https://github.com/smyte/jsxstyle/commit/ae1658ae48a0130af608e475b350fe73fc364b7f#comments

I actually forgot to make a TODO to add `:before`/`:after` support back. I’ll make a note now. Thanks for the reminder.

[2017-09-16 10:19] chenxsan commented on #77
@meyer Thanks!

[2017-10-02 21:35] meyer commented on #76
Documented here: https://github.com/smyte/jsxstyle/blob/21e5127/packages/jsxstyle/README.md#hello-world-

Thanks @steadicat!

[2017-10-02 21:35] #76 closed

[2017-10-02 21:36] meyer commented on #68
@charlie-axsy README has been completely rewritten. Feel free to reopen this issue if there’s something it doesn’t cover that you think it should.

https://github.com/smyte/jsxstyle/blob/21e5127/packages/jsxstyle/README.md

[2017-10-02 21:36] #68 closed

[2017-10-02 21:40] #77 closed

[2017-10-02 21:43] meyer commented on #77
@chenxsan I’ve added `:before`/`:after` back to whitelisted pseudoelements. I haven’t (yet) added any special-case stuff to CSS generation, so empty strings will still cause the prop to not appear. For now, the workaround for empty strings is to use the quotes-inside-quotes hack I mentioned earlier.

Let me know if you run into anything funky with `:before`/`:after`.

[2017-10-19 03:11] L42y opened #78 "Unclear warning message"
[code]
since `component` prop won't be extract as style, I assume this warning message is not necessary?

[2017-10-19 03:32] meyer commented on #78
@L42y ah yes. That’s a poorly-worded warning message, but it is a valid one. The AST transform only handles the following two cases for the value of the `component` prop:

[code]

The way to get around that warning for now is to do the following:

[code]

In the future I can automatically generate an uppercase component name if the value of the `component` prop isn’t a string literal (`"div"`) or

[2017-10-21 07:18] #78 closed

[2017-10-21 07:20] meyer commented on #78
@L42y I’ve added a transform for complex `component` prop values. Let me know if it works for you. You’ll still get a warning, but it’ll look like this:

[code]

[2017-10-21 21:05] meyer commented on #74
Still thinking this over but I’m going to close it for now.

[2017-10-22 06:50] meyer commented on #78
published as `jsxstyle-loader@1.0.0-rc.4`.

[2017-10-23 08:23] L42y opened #80 "server side rendering className mismatch"
Not sure if I should put question at here, if not appropriate, please let me know.

I'm trying to use `react-router` v4 along with `react-apollo` to do server side rendering, following is the client side bootstrapping code:

[code]

and server side rendering code:

[code]

and simplified `<App>` component code:
[code]

Page rendered on client side with following error:

[code]

Just wondering what

[2017-10-24 07:40] meyer opened #81 "Critical path CSS"
Option 1: use `jsxstyle-loader` to extract out certain properties automagically. Ehhhhh.

Option 2: add a critical path prefix:

[code]

Could have an option to preview critical path CSS as well, with a config option that would get minified out in production.

[2017-10-31 02:47] meyer commented on #80
@L42y hmm, this is strange. My guess is that components are being iterated over in a non-deterministic order. The class name suffix is generated with an incrementing integer and is not content-based. As a workaround, I can switch `jsxstyle-loader` to use content-based class names, just like we do with runtime `jsxstyle`. Class names will be longer but will not change between renders.

[2017-10-31 07:28] L42y commented on #80
@meyer maybe a config to switch between incrementing integer and content-based suffix?

[2017-10-31 17:41] meyer commented on #80
@L42y sounds good to me.

[2017-11-02 03:02] meyer commented on #80
@L42y I just added deterministic class name support to `jsxstyle-loader` in 8caa55399b9a1a71bc387a4aa1eb88f34e6b05f2. I’ll publish a new version of `jsxstyle-loader` as soon as I’m satisfied with my local testing.

To enable the option: add `deterministic: true` to your loader config object. If you’ve got a better name for the option let me know. I’m not 100% sold on `deterministic`.

[2017-11-02 13:58] L42y commented on #80
@meyer thanks a lot for your great work! I just tried the new version, no more class prop mismatch.

about the option naming, I don't have a better name neither, but an option with string value like `content-hash` instead of boolean also ok for me, maybe this would make the option naming easier?

[2017-11-02 17:11] meyer commented on #80
@L42y yeah, I had thought about something like `classNameFormat`, where people could specify a template (kind of like [webpack’s substitutions][webpack]). The “template” right now would be something like `_x[contenthash]` for deterministic rendering and `_x[base36]` incrementing integer-based class names.

[webpack]: https://webpack.js.org/configuration/output/#output-filename

[2017-11-02 17:51] steadicat opened #82 "jsxstyle-loader does not remove unused bindings after it runs"
Testing `jsxstyle-loader` with TypeScript, I quickly ran into this issue.

See the comments here:
https://github.com/steadicat/jsxstyle-test/blob/c8779e956a5d705998a2263a39ceccd708ef339e/src/App.tsx

Basically it seems that the loader leaves around a few unused variables after it does its thing. This clashes with TypeScript compiler’s `noUnusedLocals` rule.

[2017-11-02 17:54] steadicat commented on #82
If I turn off the `noUnusedLocals` rule, I get:

[code]

So it seems like the issue runs a little deeper than simply leaving around unused variables.

[2017-11-02 20:41] meyer commented on #80
I think for simplicity’s sake I’m going to go with `classNameFormat: 'hash'` as the content hash option and default it to `'base36'`. Template stuff can come later if necessary.

[2017-11-02 22:01] appsforartists opened #84 "Rename `ref` to `domRef`"
In the absence of `jsxstyle`, `<Row/>` would look like this:

[code]

and if you needed access to the underlying DOM element, you could use the `ref` prop:

[code]

Unfortunately, `ref` is a magic prop that the `Row` component can't access.  Used on `Row` it will receive a reference to the React component instance, not the element.  [The React docs](https://reactjs.org/docs/refs-and-the-dom.html#e

[2017-11-02 22:13] meyer commented on #84
Makes sense to me. This should be a pretty straightforward change, at least on the runtime side of things. If you feel like digging into the code, feel free; otherwise I’ll take a crack at this in the next couple of days.

Things will get a bit hairy with `jsxstyle-loader`, since it swaps `jsxstyle` components with the `component` prop value (or a `div`) if all styles are extracted. Shouldn’t be t

[2017-11-03 00:35] meyer commented on #84
I was thinking about this change a bit more as it relates to `jsxstyle-loader`. What makes the most sense to me: if `jsxstyle-loader` sees a `ref` prop specified on a `jsxstyle` component, it will treat the prop as dynamic. This will prevent the component from being replaced with a `div` or the user-specified `component`. `domRef` will be passed through as `ref` to the child component if all style

[2017-11-03 00:45] appsforartists commented on #84
Does that mean this is 👍 to merge?

[2017-11-03 00:53] meyer commented on #84
@appsforartists it needs tests and `jsxstyle-loader` support but I can take care of that.

[2017-11-03 00:54] appsforartists commented on #84
Thanks!

[2017-11-03 04:28] meyer commented on #82
I did a bit of googling, and from what I can tell, `JSX.IntrinsicElements` contains all standard DOM element names. Typescript seems to be treating `_Box` like a DOM element instead of a component, and it’s complaining because it’s a non-standard DOM element. This is mostly a theory, but I’m going to test this in a bit with your demo project to make sure I’m understanding the error correctly.

As

[2017-11-09 19:22] meyer commented on #84
@appsforartists I realised in the shower this morning that I’m probably overthinking this. I think this can be resolved by removing the (nonfunctional and incorrect) references to `ref`-passing from runtime and the README.

You can already pass the ref to the underlying component by using the `props` prop:

[code]

Thoughts?

[2017-11-09 19:30] meyer commented on #84
I’m also thinking `jsxstyle-loader` should warn if the `ref` prop is present on a jsxstyle component, since it just adds a layer of indirection and it makes the component unable to be completely extracted.

[2017-11-09 22:30] appsforartists commented on #84
Good thinking!  I forgot there's a `props` prop now.

[2017-11-11 22:02] #80 closed

[2017-11-11 22:02] #84 closed

[2017-11-12 06:10] meyer commented on #82
@steadicat I’ve removed the underscore prefix from the `Box` import as a workaround for TypeScript’s `JSX.IntrinsicElements` bug. Also opened a PR which should fix the bug (https://github.com/Microsoft/TypeScript/pull/19946).

I also added a trimmed down version of your example project to `/examples`. If you think of any ways the example could be improved, let me know!

I’m still trying to figure

[2017-11-12 06:13] meyer commented on #82
I just had a thought: if unused variable checking was moved to the `tslint-loader`, you could add `jsxstyle-loader` as a `pre` loader, right after `tslint-loader`. Hmmmmm…

[2017-11-12 06:17] meyer commented on #80
@L42y I’ve added and documented the `classNameFormat` setting and just published the changes as `jsxstyle-loader@1.0.4`. Thanks for your input! 🎉🎉🎉

[2017-11-12 06:20] meyer commented on #84
@appsforartists I just published your two changes as `jsxstyle@2.0.1`. Thanks again! 🎉🎉🎉

[2017-11-12 06:37] L42y commented on #80
@meyer thanks for your great work!

[2017-11-12 08:04] meyer opened #86 "Potential class name key collision in getStyleKeysForProps"
Because `getStyleKeysForProps` uses the media query _prefix_ instead of media query _content_ in the class name key, these two style objects will get the same style key:

[code]

The generated contents of these two style objects is the same, but the class name keys will differ.

[code]

[2017-11-12 21:11] #86 closed

[2017-11-16 06:27] meyer commented on #82
@steadicat I just added an (undocumented) `evaluateVars` option to `jsxstyle-loader`. Simple static style prop values like strings and numbers will be extracted, but anything that contains a variable will be left as is. This doesn’t solve the `noUnusedLocals` problem but it should make `noUnusedLocals` and `jsxstyle-loader` play together a bit more nicely.

When I get some time I’ll take a crack a

[2017-11-17 22:16] appsforartists opened #87 "2.0.2 is missing JS files!"
https://unpkg.com/jsxstyle@2.0.2/

[2017-11-17 22:20] meyer commented on #87
@appsforartists not good, thanks for letting me know!

[2017-11-17 22:28] appsforartists commented on #87
Sure thing.  I saw that you also added TS support in 2.0.2.  I fixed that too in #88, so merge before you repush. 😃

[2017-11-17 22:42] meyer commented on #87
@appsforartists published as `jsxstyle@2.0.3`. Thanks again! I’m not sure why lerna didn’t run the `prepublishOnly` script before publish. Currently investigating…

[2017-11-22 19:55] meyer commented on #64
I’m going to close this since `jest-jsxstyle` is chugging along quite nicely. Thanks, @jaredpalmer (and @sgwilym for dealing with my API updates)!!

When I get a sec I’ll add `jest-jsxstyle` tests over here as well to make sure things stay in sync.

[2017-11-22 19:55] #64 closed

[2017-11-22 19:58] meyer commented on #64
And yay, I just noticed you added pretty printing @sgwilym. I added that for `jest-jsxstyle` but forgot to open a PR over there. Thanks! 🎉

[2017-11-22 20:02] meyer commented on #82
Thought about this a bit more. There are one or two AST modifications that `jsxstyle-loader` does I’d consider unsafe/aggressive. This would be another one. Might need to add explicit opt-in config options—something like `unsafe: true` to enable all, or `unsafe: { /* options */ }` to cherry pick.

[2017-11-25 05:29] meyer opened #90 "Potential successor to prefix-based API"
This is something I was thinking about a while ago that I was reminded of while I was migrating the core pieces of jsxstyle to TypeScript.

[code]

`MediaQuery` and `Pseudo` components generate a CSS class with the assigned styles. The render method returns a cloned `only` child with the `className` added to props.

Pros:

1. Super TypeScript-friendly.
2. Making media query components seems nice,

[2017-11-25 07:14] meyer commented on #90
If there’s not an elegant way to do this in JSX, we could go with either a higher-order component or object syntax on the component. I _really really really_ want to stay away from object syntax for styles if at all possible though. Styles should stay as top level props.

I think it would be possible to keep prefix syntax for pseudoclasses. `hoverColor` is nice imo. Just gets unwieldy when prefixe

[2017-11-26 07:13] L42y commented on #90
+1 on this

Media query related logic can extract as a separate component, but I would prefer to keep using pseudoclasses’ prefix syntax.

[2017-11-27 04:16] petehunt opened #91 "Pass DOM props through / classSet"
What's jsxstyle's mission statement? Do we have one?

My suggestion would be something like: "jsxstyle is HTML as you wish it was in 2017" or something.

When using jsxstyle I often want to add event handlers, tabIndex etc to the styled elements. This has no ambiguity with the existing style props, so why not pass through non-style props to the DOM itself?

Additionally, if we're trying to make HT

[2017-11-27 05:09] appsforartists commented on #91
Does this mean jsxstyle would need to include a whitelist of known CSS properties/browser prefixes?  Do you know what the bundle size impact of such a whitelist would be?

[2017-11-27 05:53] meyer commented on #91
@appsforartists runtime jsxstyle is slightly under 3kb gzipped right now, so we’ve got room to grow if we have to, and a whitelist would gzip reasonably well. The way this discussion has gone in the past is less around bytes and more around whitelist maintenance and strictness of existing API.

@petehunt original discussion on attribute passthrough is on #32, but it’s been a while since it’s been

[2017-11-27 06:22] appsforartists commented on #91
Agreed that maintenance is the biggest challenge with a whitelist.

Incidentally, I've been using both jsxstyle and JSS lately - jsxstyle for static styles and JSS for dynamic ones.  I doubt you'd want to ship two CSS toolkits in a production app, but it's worked reasonably well for prototyping.  I'd stopped using jsxstyle for a period, because it didn't perform well during animations.  JSS allows

[2017-12-01 03:39] appsforartists opened #92 "borderRadius is missing in TS"
I've noticed that `borderRadius` doesn't autocomplete in TS - only `borderTopLeftRadius, borderTopRightRadius, borderBottomLeftRadius, borderBottomRightRadius` do.  `borderRadius` is defined upstream in [`lib.dom.d.ts`'s `CSSStyleDeclaration`](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.dom.d.ts).

It looks like you're autogenerating `CSSProperties.ts`, so I'm not sure where/how to

[2017-12-01 07:30] meyer commented on #92
@appsforartists `CSSProperties.ts` is, at the moment, a direct copy of the CSSProperties interface from `@types/react`. The file I’d modify to add `borderRadius` is the [script that generates `CSSProperties.ts`][misc]. The idea of the script is to use React’s CSSProperties as a base and to add on any additional items. I haven’t built out the “add on additional items” portion but it should be prett

[2017-12-01 07:34] appsforartists commented on #92
Thanks for the background!

Seems like a better solution in this case would be to patch [the upstream copy](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts).  Do you expect to need properties in `jsxstyle` that wouldn't make sense in `@types/react`?

[2017-12-01 07:49] meyer commented on #92
@appsforartists `borderRadius` definitely should be in the upstream version. As far as jsxstyle goes, in the future their might be a few special case props (for example, `px` to set `paddingLeft` and `paddingRight` to the same value). Still thinking it over though (see #74). We might also feel confident enough in the completeness of jsxstyle’s `CSSProperties` that we’d remove the index accessor (😱

[2017-12-01 07:51] appsforartists commented on #92
Index accessor?

[2017-12-01 07:56] meyer commented on #92
this lil fella: [types/react/index.d.ts#L2436](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b485550/types/react/index.d.ts#L2436). index signature maybe? I’m not 100% sure what that thing is called.

---

In addition to my previous comment: I feel like we‘ve got more motive to keep a list of style properties and types accurate and up to date, too.

[2017-12-01 08:05] appsforartists commented on #92
Ahhh - I didn't realize `jsxstyle` had one of those.

I left my computer at work, but I'll try to remember to add `borderRadius` upstream, as well as [fix the types](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/20743) of all the radii properties sometime soon.

[2017-12-01 08:08] meyer commented on #92
Rad, let me know when it lands!

I just realised the other reason I’m using a custom version of `CSSProperties`: I don’t want people to have to install `@types/preact` if they’re using the Preact version of jsxstyle.

[2017-12-01 08:17] appsforartists commented on #92
Would it matter?  Types don't ship to users, and you could have `@types/react` as a `devDependency`, so the install would be automated.

Not sure if React and Preact types would ever diverge (and I like the thinking behind shorthand properties), but I don't think depending on `@types/react` would alone be a blocker.

[2017-12-01 19:49] appsforartists commented on #92
@meyer https://github.com/DefinitelyTyped/DefinitelyTyped/pull/21895

[2017-12-01 20:09] meyer commented on #92
@appsforartists 🙏🙏🙏

[2017-12-01 22:15] appsforartists commented on #92
Another thing to consider re: extending vs. forking `@types/react`: if you imported/extended it, you wouldn't have to push new `jsxstyle` releases just to get fixes like this one.

[2017-12-01 22:58] meyer commented on #92
@appsforartists yeah, I’m planning to go through the CSS spec and add each value with proper types one of these days when I have a few hours to kill. The CSSProperties interface in `@types/react` seems to be intentionally _not_ comprehensive [according to this comment](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b485550/types/react/index.d.ts#L816-L817):

[code]

Seems like their goals

[2017-12-01 23:31] meyer opened #93 "jsxstyle 3 goal: make CSS easier to understand"
Since we’ve now got type definitions with nice meaty comments, you can see what a CSS property does as you type if you use a compatible editor. Neat!

I think there’s more we can do here as far as education and developer experience goes. One suggestion: runtime advice.

Things we could do with this feature:

1. warn about common CSS mistakes.
2. warn about conflicting CSS properties.
3. encourage

[2017-12-04 17:50] StokeMasterJack opened #94 "Module not found: Error: Can't resolve 'jsxstyle/Row'"
After upgrading to 2.06 (from 1.02) I am now getting tons of these errors:

Module not found: Error: Can't resolve 'jsxstyle/Block'
Module not found: Error: Can't resolve 'jsxstyle/Row'
Module not found: Error: Can't resolve 'jsxstyle/Col'

My imports look like this:
import Block from "jsxstyle/Block"

[2017-12-04 18:14] StokeMasterJack opened #95 "marginTop="3" (with quotes) stopped working"
<Row marginTop="3"> used to work. Changing it to marginTop={3} fixed the problem.

If using quotes is no longer supposed to work, it would be helpful to generate an error message instead of failing silently.

[2017-12-04 18:32] StokeMasterJack opened #96 "Upgrading to from jsxstyle 1.02 to 2.0.6 cause react-modal errors"
After updating jsxstyle from 1.02 to 2.0.6 I now gets a bunch react-modal errors in the js console:

Warning: react-modal: App element is not defined. Please use `Modal.setAppElement(el)` or set `appElement={el}`. This is needed so screen reades don't see main content when modal is opened. It is not recommended, but you can opt-out by setting `ariaHideApp={false}`.

[2017-12-04 18:59] meyer commented on #94
@StokeMasterJack ah yep. With jsxstyle 1, components were defined in one file and then aliased to `jsxstyle/Row`, `jsxstyle/Col`, etc. For jsxstyle 2, those aliases were removed in favour of destructuring. If you transpile your JS, you can require jsxstyle components like so:

[code]

Destructured syntax is the recommended way to import jsxstyle components, but you can also manually destructure:

[2017-12-04 19:04] StokeMasterJack commented on #94
OK. Thanks. I ended up doing that. It was a pretty big git commit. Touched 100s of files.

[2017-12-04 19:16] meyer commented on #95
@StokeMasterJack jsxstyle uses the unitless prop conversion function from React. I suspect they changed quoted unitless prop behaviour between React 0.14 (the version we used to use) and React 16 (the version we use now). `marginTop="3"` shouldn’t have worked at all, and we probably should’ve showed some kind of warning if a string value was provided to a known unitless property.

I started a disc

[2017-12-04 19:20] meyer commented on #96
I suspect this error is related to #94. Can you swap import syntax and let me know how it goes?

There have been a few changes between jsxstyle 1 and jsxstyle 2. If you haven’t already, give the README a once-over: https://github.com/smyte/jsxstyle/tree/103c076/packages/jsxstyle#readme

[2017-12-04 19:22] meyer commented on #95
I’m going to close this as this behaviour is intended, but I’ll add a note in #93 to warn for unexpected string values on unitless props.

[2017-12-04 19:22] #95 closed

[2017-12-04 19:26] meyer commented on #94
@StokeMasterJack yeah, we should’ve encourage destructured syntax from the beginning. Sorry about that.

[2017-12-04 19:26] #94 closed

[2017-12-04 19:32] StokeMasterJack commented on #96
Actually I did a rollback of the jsx upgrade and I'm still getting the react-modal errors. It's strange because we were not getting those before. The only thing that changed was that I updated my version of yarn and re-ran yarn install. No way to roll that back since node_modules doesn't get added to git. So apparently rebuilding the node_modules folder from package.json is not deterministic.

Any

[2017-12-04 19:40] meyer commented on #96
@StokeMasterJack not a waste at all! Good luck getting to the bottom of this 🙏

[2017-12-04 19:40] #96 closed

[2017-12-04 19:45] meyer commented on #92
Over the weekend I looked into converting [MDN’s CSS data](https://github.com/mdn/data) to TypeScript type definitions.

### Pros
1. The data is quite comprehensive and fairly up to date.
2. Someone else is maintaining a database of every CSS property.
3. The data provides a ton of metadata about each property. Generating nicely worded and informative docstring comments should be pretty straightfo

[2017-12-04 19:55] appsforartists commented on #92
If you use the same API as React's `style` prop, most of your loose types will be `number | string`.  There are cases where `Array` would be nice, but I haven't played with the `jsxstyle` implementation enough to know where they are supported.  (I'm thinking about things like `borderRadius = { [ 8, 0, 0, 8 ] }` which would translate to `8px 0px 0px 8px`).  You'll have a hard time validating string

[2017-12-04 20:10] meyer commented on #92
Here’s an example generated type def:

[code]

Shorthand props are the problematic ones. For example, here’s the syntax definition for `font`:
[code]

Yeaaaaaaaaah that’s gonna be an `any` 😅

I dig array syntax for `borderRadius`. The main reason I haven’t pursued it is because, at the moment, style values of type `object` are unused (they just get stringified). There’s a whole dimension of possib

[2017-12-04 20:14] meyer commented on #92
Here’s the rough WIP: https://github.com/smyte/jsxstyle/commit/12f5b3e

[2017-12-04 20:15] meyer commented on #92
Here’s the rough WIP commit: https://github.com/smyte/jsxstyle/commit/12f5b3e

and the generated type definitions: [`12f5b3e/packages/jsxstyle/MDNCSSProperties.d.ts`](https://github.com/smyte/jsxstyle/blob/12f5b3e/packages/jsxstyle/MDNCSSProperties.d.ts)

[2017-12-04 21:26] appsforartists commented on #92
Since this is CSS, I think you can safely fall back to `string` rather than `any`.  Currently, `array`, `object`, and `boolean` are always wrong.  `number` is appreciated for pixel values, but can always be represented as `16px` and corrected with a future PR.

Personally, I think `number` should _always_ be treated as a pixel value, which means `lineHeight` should accept either a number (in pixel

[2017-12-06 00:15] meyer commented on #92
@appsforartists yeah, number always being px would be nice (in theory, not sure in practice). A safe option would be to treat `lineHeight` like a unitless prop. Still need a number with props like `flexGrow`.

[2017-12-06 00:19] appsforartists commented on #92
Would you be interested in spinning your `mdn-data -> d.ts` project into its own repo?  @kof is down to collaborate on https://github.com/cssinjs/style-type-generator.

[2017-12-08 00:02] appsforartists commented on #92
https://www.npmjs.com/package/@types/react has been updated!

[2017-12-18 23:46] meyer opened #97 "React Hot Loader warning: “this component is not accepted by Hot Loader”"
Bug is upstream but already fixed in master.

https://github.com/gaearon/react-hot-loader/issues/704

[2018-01-03 22:09] meyer commented on #82
@steadicat now that I’ve famliarised myself a bit more with TypeScript and related tooling, I think I’ve figured out a decent workaround for this issue. The one downside is that `babel-loader` will be required in addition to `ts-loader`.

`ts-loader` needs to be set to **preserve JSX** and **preserve import syntax**. If you’ve been using webpack + TypeScript + tree shaking, import syntax should al

[2018-01-03 22:10] meyer commented on #82
@steadicat now that I’ve familiarised myself a bit more with TypeScript and related tooling, I think I’ve figured out a decent workaround for this issue. The one downside is that `babel-loader` will be required in addition to `ts-loader`.

`ts-loader` needs to be set to **preserve JSX** and **preserve import syntax**. If you’ve been using webpack + TypeScript + tree shaking, import syntax should a

[2018-01-10 14:59] cherta opened #98 "Loader usage with preact-cli"
Hi, I'm not sure this is a `jsxstyle` issue but I think it worth putting it here since the library has built-in support for preact and preact-cli is widely used.

I'm working on a `preact-cli` app that heavily uses `jsxstyle-preact` and the [pre-render](https://github.com/developit/preact-cli#pre-rendering) feature.

For that, I tried to configure the loader using the `preact.config.js` file which

[2018-01-10 23:33] meyer commented on #98
From a cursory look I can tell you that `jsxstyle-loader` should run _before_ `babel-loader`. It’s in the right position in the config (below `babel-loader`) but `babel-loader` runs first since it’s a preloader. Potential workaround is to specify `enforce: "pre"` on `jsxstyle-loader` as well, but that might cause issues.

I’ll give `jsxstyle-loader` a try with `preact-cli` here in a bit and let yo

[2018-01-13 01:20] meyer commented on #82
Update: turns out setting `module: 'esnext'` in your tsconfig is a better idea, since apparently setting `module` to `esnext` turns CommonJS requires (`import Thing = require('thing');`) into errors.

[2018-01-21 06:26] meyer commented on #98
@cherta I’ve just about got a working example going with `preact-cli`. One issue I’m running into is that babel seems to be prepending `import { h } from "preact";` to the top of any file that contains JSX, regardless of whether or not that `h` import already exists in the file.

Example transpiled source:

[code]

Still digging…

[2018-01-21 08:42] meyer commented on #98
`babel-plugin-jsx-pragmatic` seems to be the culprit here. It prepends `import { h } from "preact";` to every JS file automatically. Apparently `preact-cli` was always adding a duplicate import, but babel only checks for duplicate imports during scope extraction—a feature `jsxstyle-loader` makes heavy use of.

I ran into another problem. Apparently `preact-cli` defaults to using `css-loader` with

[2018-01-21 09:27] #82 closed

[2018-01-21 09:42] meyer commented on #98
Published as `jsxstyle-loader@1.0.11`. I’m going to close this for now, but feel free to reopen if the `preact-cli` example I added doesn’t solve your issue.

[2018-01-21 09:42] #98 closed

[2018-01-31 05:05] meyer commented on #92
@appsforartists I just published `jsxstyle@2.0.8` which includes this update. Thanks!

[2018-01-31 05:05] #92 closed

[2018-02-01 19:04] steadicat opened #100 "`hot.addDisposeHandler is not a function` error when using Parcel"
I just added `jsxstyle` to a new project (using TypeScript and Parcel), and nothing seems to work. I get the following error:

![screen shot 2018-02-01 at 11 04 15 am](https://user-images.githubusercontent.com/6031/35697649-aa934a1a-073f-11e8-9f73-0ea14fb5308f.png)

[2018-02-01 20:29] meyer commented on #100
@steadicat ah yep, looks like Parcel uses a slightly different implementation of webpack’s HMR API (https://github.com/parcel-bundler/parcel/issues/619). Should be easy to fix.

[2018-02-01 22:00] meyer commented on #100
Fixed, publishing a new version in a sec.

[2018-02-01 22:01] #100 closed

[2018-02-01 22:02] meyer commented on #100
Published as `jsxstyle@2.0.10`. Thanks @steadicat!

[2018-02-08 20:50] necolas commented on #74
I've documented this detail of RN, specifically https://github.com/necolas/react-native-web/blob/1776891/website/guides/style.md#how-styles-are-resolved

[2018-02-21 22:32] rperce opened #101 "jsxstyle/preact broken ≥2.0.9"
Upgrading jsxstyle to or past 2.0.9 breaks `jsxstyle/preact` imports.

With 2.0.8 installed,
[code]

With 2.0.9 installed, however,
[code]

and I see NPM error that it can't find any of
* `jsxstyle/preact{,.js,.json}
* `jsxstyle/preact/index{,.js,.json}
* `jsxstyle/preact/package.json`

(which makes sense, since none of those exist).

[2018-02-21 22:33] meyer commented on #101
@rperce thanks, looking now…

[2018-02-21 22:34] rperce commented on #101
Holy cow, 2 minute response time is amazing! You rock :+1:

[2018-02-21 22:54] meyer commented on #101
Fixed in 93128ed and published as `jsxstyle@2.0.11`. Sorry for the trouble. I was being overly clever when I updated the `.npmignore` file for `jsxstyle` a few commits ago: https://github.com/smyte/jsxstyle/commit/e379385a8407734da66c3e8e3fdf42d67932f5e2#diff-5e3bdc8ec31c3acdd9b8559a74eec87fL3

package.json is bac[k 🎉🎉🎉](http://gunshowcomic.com/comics/20141111.png) https://unpkg.com/jsxstyle@2.0.1

[2018-02-21 23:04] #101 closed

[2018-03-07 10:43] TeffenEllis opened #102 "Feature request: object prefix syntax."
Howdy,

I'm a big fan of JSX Style, though the prefixes for pseudo-elements and selectors props can be quite cumbersome for multiple styles. This can be especially difficult if the pseudo-element styles are set with another prop. I've gotten around this limitation by creating style objects with a helper function that prefixes each key with a string:

[code]

It'd be interesting if these styles cou

[2018-03-07 22:20] meyer commented on #102
Thanks for the suggestion, @TeffenEllis. The primary reason we use a flat prop structure is so that objects of styles can be easily merged, either with the spread syntax feature of JSX or with `Object.assign`.

At Smyte, we keep common objects of styles in a separate file and apply them where they’re needed throughout the codebase. Using spread syntax and style props ordered intentionally, we can

[2018-03-07 22:24] meyer commented on #102
I explained the combined spreads thing a bit more clearly in a different issue: https://github.com/smyte/jsxstyle/issues/70#issuecomment-321469374

[2018-03-07 22:30] TeffenEllis commented on #102
Howdy @meyer,

Thanks for the update and explanation. Your usage of spread syntax can be extremely powerful, especially with [higher order components](https://github.com/cloudflare-apps/sable/blob/master/source/components/link/link.tsx#L64-L87)! I've found that this aligns with existing concepts in CSS and JavaScript. I believe allowing `before`, `after`, `hover` and other properties prop objects

[2018-03-13 05:30] meyer commented on #102
@TeffenEllis I know I’m a bit biased but I do prefer the former 😀. While the existing prefix pattern may feel a bit repetitive, it allows for a lot more flexibility with fewer lines of code (in the case of the example you posted, half as many LOC) and it encourages patterns of reuse that we would like to see more developers adopt. Moving pseudo styles to object syntax would reduce flexibility for

[2018-03-13 05:30] #102 closed

[2018-03-13 18:27] meyer commented on #97
fixed in React Hot Loader v4

[2018-03-13 18:27] #97 closed

[2018-04-03 18:34] meyer opened #103 "Webpack 4 support for jsxstyle-loader"

[2018-04-03 18:41] meyer opened #104 "Switch from React.CSSProperties to csstype"
@frenic has done a nice job of automating conversion of MDN CSS data to TypeScript (and Flow!) types. Moving to [csstype](https://github.com/frenic/csstype) would remove the dependency on `@types/react` for Preact folks and we'd hopefully be able to remove the string index accessor as well. Benefits all around.

[2018-04-03 21:55] jaredpalmer opened #105 "Gatsby Plugin"
Would be really nice for static marketing sites

[2018-04-03 22:10] meyer commented on #105
ooh, good idea. I’ll look into it!

[2018-04-04 18:24] jaredpalmer opened #106 "Runtime autoprefix?"
Wondering if there is a way to make autoprefixing easier on users so jsxstyle works out of the box with CRA in every browser.

Can we use this in a way that works by default but then turns off if the loader is present somehow???

https://github.com/rofrischmann/inline-style-prefixer

I know Glamor, RN Web, and SC use it.

[2018-04-04 20:52] meyer commented on #106
I’ve shied away from `inline-style-prefixer` in the past as it does quite a bit more than we need, but for the [browsers we say we support](https://github.com/smyte/jsxstyle/blob/423531c/README.md#browser-support), we should definitely do something.

If it’s just style prop _names_ that need autoprefixing, we could do something pretty naive. if it’s prop _values_ as well, we’d need something more

[2018-04-04 21:54] jaredpalmer commented on #106
Yeah flex is the killer one. Honestly I don’t even know what to prefix since I’m so used to autoprefixer taking care of it 😂

[2018-04-07 22:41] meyer commented on #104
implemented in 273c1924dfc0e7b416f22ae79dade63346817a6a

[2018-04-07 22:41] #104 closed

[2018-04-07 22:45] jaredpalmer commented on #104
Nice!

[2018-04-15 00:02] meyer commented on #105
I did some preliminary investigation and it looks like this should be pretty straightforward. I’m currently stuck on a webpack 1 (!!!!?!?!?!?!?) issue related to `jsxstyle-loader`’s virtual filesystem. When I get a sec I’ll keep digging to figure out what’s going on.

Couple things that don’t seem to be written down anywhere that I need to know:
1. In what order are loaders applied? Config order?

[2018-04-15 15:45] lettertwo commented on #105
This is a great idea! You may want to consider targeting the [v2](https://github.com/gatsbyjs/gatsby/tree/v2) branch (currently in alpha). It uses Webpack 4, and includes various API changes for plugins that you may want to adopt now.

[2018-04-15 21:00] meyer commented on #105
@lettertwo oh cool, I’ll take a look. Thanks!

[2018-04-18 01:34] jaredpalmer commented on #105
I DM’d Kyle about Gatsby plugins in regards to my Razzle project (I’m working on a similar system). They run top to bottom, but should try to be written in a way that is independent of ordering.

[2018-04-18 02:25] meyer commented on #105
@jaredpalmer dope, thanks!

[2018-04-24 06:10] meyer commented on #103
done in 3f46eb5632a0747e838bc2199d560c02f6666c53

[2018-04-24 06:10] #103 closed

[2018-04-24 06:13] #81 closed

[2018-04-24 06:16] meyer commented on #91
closing for now

[2018-04-24 06:16] #91 closed

[2018-04-30 08:04] meyer opened #109 "Statically analyse simple stateless functional components"
I briefly discussed this with @souporserious a few weeks ago and gave it a bit more thought today.

Simple stateless functional components should be able to be statically analysed and inlined where they’re used. Should be doable with something that runs before

A component like this one:

[code]

that's used like this:

[code]

would get turned into this:

[code]

Pretty straightforward if the com

[2018-05-02 13:52] chenxsan commented on #93
It would be great if jsxstyle could warn about CSS mistakes, I found myself typing wrong CSS  sometimes, like `justifyCotent`, `smfontSize`.

[2018-05-03 01:18] chenxsan opened #110 "jsxstyle-loader doesn't extract jsxstyle into seperate css file."
I'm trying to build some React Comonents with `webpack.prod.config.js`, here's part of my `webpack.prod.config.js` file:

[code]
You can check the whole file here https://github.com/OkMarvin/january/blob/master/webpack.prod.config.js.

After I run `npx webpack --config webpack.prod.config.js`, those jsxstyle in components are not extracted, they are still inside the js file.

Any suggest?

[2018-05-03 03:46] chenxsan commented on #110
According to https://github.com/smyte/jsxstyle/tree/master/packages/jsxstyle-loader#its-not-working-:

I should put `jsxstyle-loader` after `babel-loader` so it would be executed first, here's the updated config:

[code]
Now I got those errors:

[code]

[2018-05-03 03:55] meyer commented on #110
Ah yep, loader order is important. I should probably warn if jsxstyle is detected but no styles are extracted. Loaders in the wrong order is a pretty common configuration mistake.

I’ve got a webpack 4 compatible version of `jsxstyle-loader` I’m about to publish. I’ll let you know when it’s live!

[2018-05-03 04:00] chenxsan commented on #110
I tried to add `if (!dec) continue;` in `getStaticBindingsForScope.js`:

<img width="618" alt="image" src="https://user-images.githubusercontent.com/1091472/39559499-46f3de3a-4ec9-11e8-8311-6075e6b707fe.png">

It works great now in my project.

[2018-05-03 04:16] meyer commented on #110
Ah yeah, I caught that error when I [converted `jsxstyle-loader` to TypeScript](https://github.com/smyte/jsxstyle/blob/08ccf7c/packages/jsxstyle-loader/src/utils/ast/getStaticBindingsForScope.ts#L98-L100). It’ll be fixed in the next release.

Glad it’s working well for you! Let me know if you have any more questions.

[2018-05-03 04:18] #110 closed, assigned to nobody

[2018-05-03 07:16] meyer commented on #110
@chenxsan I just published `jsxstyle-loader@1.1.0` which contains the above fix.

[2018-05-04 01:48] meyer opened #112 "Objects with null prototypes cannot be stringified"
This was a fun bug to track down. An old component of ours was spreading its remaining props onto a jsxstyle component (generally a bad idea). One of those spread props was an object from Apollo that had been created with an explicit null prototype. `dangerousStyleValue`’s attempt at stringification threw an exception.

[code]

This is the edgiest of edge cases but it should nevertheless be handle

[2018-05-04 01:55] meyer commented on #101
I’ve since added a publish manifest test that ensures that the expected package files are published. Should prevent this issue from occurring in the future.

the test: [`tests/meta.spec.ts#L54-L72`](https://github.com/smyte/jsxstyle/blob/cc2773d/tests/meta.spec.ts#L54-L72)
the snapshot: [`tests/__snapshots__/meta.spec.ts.snap#L24-L110`](https://github.com/smyte/jsxstyle/blob/cc2773d/tests/__snapsh

[2018-05-04 07:29] #112 closed

[2018-05-04 08:59] chenxsan opened #113 "Naming fatigue when reusing css styles."
This is just a question.

I choose jsxstyle over styled-components for less naming fatigue, but when I try to reuse some styles under jsxstyle, I found myself having naming fatigue again.

Here's how I reuse css styles at first:

[code]
Oh, file named `ArticleHeader.js`.

Then I found that I can actually make a style object and spread it like:

[code]
Again, I need to name `articleHeaderStyle`.

I

[2018-05-04 18:55] meyer commented on #113
Good question! At the end of the day, _something_ is going to need to be named, but since one component can be styled by many style objects, style object names don’t need to map directly to the components they’re styling.

At Smyte, we use a combination of primitive reusable components and small reusable style objects named by _feature_ (`focusStyles`) as opposed to implementation (`userSearchInpu

[2018-05-04 21:39] meyer opened #114 "CSSProperties type does not permit falsey style props"
Style props can be falsey, but `CSSProperties` only permits `undefined` in addition to the prop value.

The following example is valid, but TypeScript doesn’t think it is:
[code]

[2018-05-04 23:58] meyer commented on #113
In practice I’ve found that we don’t reuse a lot of our reusable style objects, and the ones we do reuse are style groups that have been reverse-engineered from styles we found ourselves applying many times over, like the a11y styles I mentioned above. I end up using single constants a lot more often than I do groups of styles.

For context, my approach to writing CSS is rather designer-y—that is

[2018-05-05 01:10] #114 closed

[2018-05-05 04:39] chenxsan commented on #113
Thanks for sharing.

Balance is obviously difficult :)

I'll post it when I have any feedback for media query.

[2018-05-05 04:39] #113 closed

[2018-05-06 23:04] meyer opened #116 "RFC: Default media query set"
In the spirit of zero configuration™®, jsxstyle could provide a few preset media query prefixes based on a sensible set of breakpoints. The user would still be able to specify breakpoints in the `mediaQueries` prop, but this would (hopefully) be the exception rather than the rule.

Ideally the user would be able to globally override this default media query set as well. This would likely be an inj

[2018-05-07 00:39] chenxsan commented on #116
I think a default preset media queries is enough for most, but of course users should be able to override it somewhere globally if they need a total different set. In some cases, we might want make a little change to some special components, then `mediaQueries` defined on components should be merged with the default one, just like `Object.assign(default, mediaQueries)`.

Right now I have three med

[2018-05-07 00:46] chenxsan commented on #116
First time I defined those media queries in my constants module, I write ES6 syntax, then I found I have to specify `whitelistedModules` https://github.com/smyte/jsxstyle/tree/master/packages/jsxstyle-loader#whitelistedmodules:

[code]
So either I use CommonJS syntax in my constants module or I use `webpack.config.babel.js`, the later is complex, then I just change my constants module from ES6 syn

[2018-05-07 20:03] meyer opened #117 "Modules specified in whitelistedModules do not get compiled with webpack"
At the moment, modules specified in `jsxstyle-loader`’s `whitelistedModules` config option are not parsed by webpack, which means that they need to be written in node-friendly javascript. This is unexpected and can be confusing (see https://github.com/smyte/jsxstyle/issues/116#issuecomment-386930000). It also kinda sucks for folks who use TypeScript, since the modules have to be written in plain J

[2018-05-08 01:32] baranpirincal opened #118 "Logo proposal: Jsxstyle"
Hey. I can contribute on your project with making logo design, what do you think about it? My motivations are supporting open source projects and make my portfolio better. If you want to see my portfolio I can share with you. I am waiting your feedbacks, have a nice day! :)

[2018-05-09 22:56] meyer opened #119 "Type checking time has doubled from jsxstyle 2.0.11 to 2.1.0"
…due to the upgrade from `React.CSSProperties` to [csstype](https://github.com/frenic/csstype). At the moment I’m not sure what to do about this. The addition of the `Falsey` generic seems to have greatly slowed things down as well. I’ll probably need to fork csstype and make it a bit dumber 😕

[2018-05-15 18:42] meyer commented on #93
another one: `whitespace` vs `whiteSpace`

[2018-05-22 03:14] meyer opened #120 "jsxstyle minisite"
A minisite for jsxstyle would be a nice way to show off the things you can do with jsxstyle. As far as content goes, the README provides a decent starting point.

[2018-06-26 02:35] chenxsan opened #121 "jsxstyle’s `InlineFlex` component is deprecated and will be removed in future versions of jsxstyle."
I just saw this warning in my console. It's alright, I'll consider updating it later with [whatever works](https://github.com/jsxstyle/jsxstyle/issues/9#issuecomment-260856490).

But then I found that `jsxstyle-webpack-plugin` won't extract the styles:

[code]

<img width="690" alt="image" src="https://user-images.githubusercontent.com/1091472/41885575-25cec1e8-792b-11e8-859c-99dcca2dcb66.png">

I

[2018-06-28 03:15] meyer commented on #121
Ah yeah, that is to be expected. `InlineFlex` and a few other components have been deprecated as of jsxstyle 2.0, and `jsxstyle-webpack-plugin` was built right after the deprecation. Support for deprecated components was intentionally omitted.

I’ve been meaning to add `InlineRow` and `InlineCol` components; I’ll add those now.

[2018-06-28 04:49] #121 closed

[2018-09-19 18:15] meyer commented on #119
Not much has changed code-wise but check time is down to 4 seconds (‼️). I’m going to close this for now.

[2018-09-19 18:15] #119 closed

[2018-10-26 14:46] aamorozov commented on #105
@meyer
The current implementation is not extracting the styles correctly on initial page load when serving the site from production files. I've created a repo to reproduce - https://github.com/aamorozov/gatsby-jsxstyle-issue.
I've also tried updating https://github.com/jsxstyle/jsxstyle/blob/master/packages/gatsby-plugin-jsxstyle/gatsby-ssr.js#L11 to `exports.replaceRenderer = ({ setHeadComponents

[2018-10-26 18:13] meyer opened #122 "Gatsby plugin not extacting styles correctly on initial page load"
_Originally posted by @aamorozov in https://github.com/jsxstyle/jsxstyle/issues/105#issuecomment-433432957_

---

_Originally posted by @aamorozov in https://github.com/jsxstyle/jsxstyle/issues/105#issuecomment-433465107_

[2018-10-26 18:14] #105 closed

[2018-10-26 18:14] meyer commented on #105
hi @aamorozov! Let’s continue the discussion in #122.

[2018-10-26 18:49] meyer commented on #122
@aamorozov thanks for the bug report and the repro! I’ve cloned the repro repo and have run `yarn build` and `yarn serve` and, as you mentioned, things seem to be working as expected locally.

What issue are you seeing specifically? Is it related to the `Dropdown` component that has the runtime CSS classname as well as the extracted classname?

[2018-10-26 20:59] aamorozov commented on #122
I just found a fix for the issue. It worked for the repro repo and for my actual project. Will add a pr shortly @meyer

[2018-10-26 21:09] meyer commented on #122
@aamorozov nice, sounds good!

[2018-10-27 21:53] aamorozov commented on #122
Added pr in https://github.com/jsxstyle/jsxstyle/pull/123, it solved the issue for me. I also saw you commented on my issue in gatsby repo, so not sure if you've done more digging into that - my update might not be as diverse as it should be, but again, it solves the issue for me for a mid level code base.

[2018-10-28 07:51] L42y opened #124 "Pass className to custom element component with different prop name"
with following code
[code]
result code markup would be:
[code]
but <amp-img> is a custom element and only recognize class attribute, how should we solve this issue?

[2018-10-28 07:54] L42y commented on #124
I guess we need to detect if an element is a custom element and pass `className` as `class` instead?

[2018-10-29 04:00] meyer commented on #124
@L42y hmmm, I’d like to avoid custom element detection if at all possible. I would be open to a very simple, very naive custom element check though (for example, the presence of a dash in the `component` prop value).

Would it be worth creating a `jsxstyle-amp` or `jsxstyle/amp` package?

[2018-10-29 12:05] L42y commented on #124
@meyer thank your for your input, right now I just create a separate component:

[code]

maybe I could expand it to an separate package as you said

[2018-10-29 17:38] meyer commented on #124
@L42y ha, that’s perfect! Exactly how I hoped the exported style cache would be used.

[2018-10-30 03:14] aamorozov opened #125 "Imported media query object is not accepted by mediaQueries prop"
#### Steps to reproduce
1. Pull down the repo
https://github.com/aamorozov/gatsby-jsxstyle-issue
2. Run `yarn && gatsby develop`
3. Open index page
4. Resize the browser
#### Expected behavior
Both Image grid and copy section above should turn into a column below 640px vp width
#### Actual behavior
Only the image grid transforms into a column.
Reference how the mediaQueries are set for image grid:

[2018-10-30 10:49] L42y commented on #124
I'm going to close this issue since it's solvable by a separate component.

[2018-10-30 10:49] #124 closed

[2018-10-31 22:48] #122 closed

[2018-11-08 01:30] aamorozov commented on #125
It looks like it is not applying the media query prefix correctly and just adds it as a prefix to the prop:

![screen shot 2018-11-07 at 8 30 31 pm](https://user-images.githubusercontent.com/10227658/48171956-003cf200-e2cc-11e8-9952-536fb461b88d.png)

[2018-11-10 05:02] meyer commented on #125
@aamorozov yeah, the `mediaQueries` prop is being stripped out if it can be evaluated, regardless of whether or not it’s in use. I need to add special cases for the following:

- spread present (one of the spread props might be `mediaQueries` or a mq-prefixed prop)
- non-static `mediaQueries` prop present

[2018-11-21 14:28] ex3ndr opened #126 "Question: Is it possible to mark any component to be processed by static css extractor?"
Right now i am wondering if using this library will allow me to build my own wrappers around jsxstyle's components that fits my requirements better. They are mostly simple wrappers with additional/preprocessed props of original one.

Is it doable?

[2018-11-26 15:16] meyer commented on #126
@ex3ndr I’ve been thinking about this for a while now. I personally only ever use `Row`, `Col`, and `Block`, and sometimes I feel like the primitives are a bit _too_ primitive.

Long story short, I think this should be doable and I think it’s a good direction to go with jsxstyle, but it’ll need to 1) support jsxstyle at both runtime and build-time with 2) an API that doesn’t suck.

The API I’ve be

[2018-12-04 13:03] ex3ndr commented on #126
I would prefer actually separate library, this is a very common task actually - to extract some static information from components and mangle props.

For marking such preprocessors we can try to use directives in our compile pipeline that will mark components that need to be processed with specific pre-registered preprocessor.

[2018-12-04 18:07] meyer commented on #126
@ex3ndr ah, I see what you mean. Since refactoring style extraction is not super high on the priority list at the moment and since it’ll take quite a bit of work to convert the style extraction/mangling code into a reusable library, this won’t be something I’ll be able to get to in the neat future. It is a good idea, however, and if you’d like to lead the charge on converting [`extractStyles.ts`](

[2018-12-04 18:07] #126 closed

[2018-12-29 04:54] chenxsan opened #128 "Caching problem with jsxstyle-webpack-plugin"
With same [webpack configuration](https://github.com/OkMarvin/january/blob/master/webpack.prod.config.js) and same entry, I would expect the output to be exactly the same, but seems it's not in my case. The output files including js and css file extracted changed every time I built them with webpack. That make caching no longer work.

I'm wondering if this is expected in jsxstyle. If it is, anythi

[2019-01-04 07:41] L42y opened #129 "export JsxstyleProps from jsxstyle.d.ts"
In case we need to extend JsxstyleProps

[2019-01-07 00:48] meyer commented on #129
@L42y good idea, I’ll add that export now.

[2019-01-07 01:02] #129 closed

[2019-01-07 03:32] meyer commented on #128
@chenxsan sorry I missed this, was out for the holidays. Glad you got it figured out!

If you’d like to retain shorter class names but keep the naming scheme deterministic, you can also use the (undocumented, pending feedback) `cacheFile` option:

```cacheFile: path.resolve(__dirname, 'jsxstyle-cache.txt')```

Given the above config, a file called `jsxstyle-cache.txt` will be created/updated with

[2019-01-07 04:55] chenxsan commented on #128
@meyer Thanks! It works great.

[2019-01-10 09:30] Sunshine168 opened #130 "Break with typescript's generic component"
Provider a simple example

[code]

error message

[code]

[2019-01-10 21:42] meyer commented on #130
@Sunshine168 I suspect it’s a babel 7 issue. Investigating…

[2019-01-10 21:48] meyer commented on #130
@Sunshine168 ooh, I’ll take a look now. I have a few initial questions for you:

- Can you provide me with more information about your environment? Version numbers of jsxstyle and TypeScript would be super helpful.
- Are you using jsxstyle on its own, or are you using jsxstyle with `jsxstyle-webpack-plugin`?
- Did you just add jsxstyle to this project, or have you been using jsxstyle with this pro

[2019-01-11 02:07] Sunshine168 commented on #130
@meyer Hello
 Version:
[code]

We use jsxstyle with jsxstyle-webpack-plugin and using jsxstyle with this project for a long time

[2019-01-14 19:07] meyer commented on #130
Thanks for the info, @Sunshine168. Reproducing this bug was quite easy—looks like an issue on the babel side of things. I’m looking at switching the parser to use `typescript-estree` instead of `@babel/parser`, which would give us support for any new TypeScript features that might come along (including JSX type parameters). I’ll keep you updated here as I make progress on the switch.

[2019-01-31 00:29] artnez opened #131 "React 15 and `componentWillMount`"
Using `jsxstyle` with React 15 has an unexpected behavior due to this line:
https://github.com/jsxstyle/jsxstyle/blob/master/packages/jsxstyle/src/jsxstyle.tsx#L129

Using `componentDidMount` instead of `componentWillMount` causes the first render pass to *always* have an empty class name. This makes it impossible for parent components to do any DOM calculations on their own `componentDidMount()`

[2019-01-31 18:43] #131 closed

[2019-01-31 20:47] artnez commented on #131
Thanks for the quick fix! When will the new version be out? Deciding if I should roll out a forked build today in the interim.

[2019-02-01 23:53] meyer commented on #131
@artnez sorry for the delay, I had some yarn/npm weirdness on my end. I just published this as `jsxstyle@2.1.5`! Thanks again for the bug report 🙏

[2019-02-19 12:43] Sunshine168 opened #133 "Break with using thread-loader on production"
Hi, here is my problem

version:
[code]

error:
[code]

loader:
[code]
after remove 'thread-loader' , it work well

[2019-02-19 19:17] meyer commented on #133
@Sunshine168 hmm, that’s interesting. Investigating…

[2019-02-19 20:08] meyer commented on #133
Looks like `thread-loader` [two major limitations](https://webpack.js.org/loaders/thread-loader/#usage) that make compatibility with `jsxstyle-webpack-plugin` a bit challenging:

`jsxstyle-webpack-plugin` is first and foremost a plugin, which means that the companion loader cannot be used without the context object that the plugin provides to each loader instance. In addition, the loader emits a C

[2019-02-19 20:08] #133 closed

[2019-02-25 20:09] meyer commented on #130
@Sunshine168 I haven’t had a lot of time to work on switching the parser to `typescript-estree`. I did realise yesterday that this issue has already come up and has a solution:

It’s not ideal, but basically `babel-loader` needs to run in addition to `ts-loader`. Here’s how things need to be configured:
- `JsxstyleWebpackPlugin.loader` should run _after_ `ts-loader` ([see example](https://github.c

[2019-02-25 20:09] #130 closed

[2019-07-19 11:21] chenxsan commented on #117
@meyer Hi, I'm trying to make it work in my project by modifying the js file here https://github.com/jsxstyle/jsxstyle/blob/master/packages/jsxstyle-webpack-plugin/src/utils/ast/getStaticBindingsForScope.ts#L65:

[code]
As far as I see my es6 module in `whitelistedModules` did get compiled into commonjs code, but there's still warning from `loader.js`:

    cannot evaluate media query prop: `bps`

[2019-07-22 17:26] meyer commented on #117
Hey, thanks for tackling this! I think you’re in the right neighbourhood, but I think if you want to compile whitelisted modules using webpack, a *child compiler* might be a better way to go. The main difference is that you would be calling webpack *in* webpack as a part of the build process instead of outside of webpack.

The general idea:

- webpack starts up.
- before each compilation, child co

[2019-07-29 15:40] chenxsan commented on #117
@meyer I read that article but I'm afraid our case is a little different from that one. In our case we want to finish child compiler as soon as possible so modules in `whitelistedModules` would get transpiled before loaders applied, but I don't know how to make it.

Here's what I got so far:

[code]
It won't work because there're cases where loader runs before we get whitelistedModules transpiled.

[2019-07-29 17:20] meyer commented on #117
@chenxsan if you push your WIP code up to github we can iterate on it on a branch rather than in the comments. Can you submit what you have so far as a pull request?

[2019-07-30 00:33] chenxsan commented on #117
@meyer Of course, it would be much easier to talk with code :)

[2019-08-05 23:09] petehunt opened #136 "Replace most of the AST traversal in `extractStyles` with the TypeScript type checker"
Today we traverse the AST to extract out static styles with a bunch of AST traversal heuristics. We could replace a lot of them with the TypeScript typechecker, which can infer literal types from the expressions passed into `jsxstyle` props.

[2019-08-06 22:42] meyer commented on #136
I am suuuuper into this idea as long as we can continue to support non-TS folks.

[2019-10-30 16:30] peltomaa opened #138 "TS2503: Cannot find namespace 'JSX'."
`./node_modules/jsxstyle/preact/lib/jsxstyle-preact.d.ts:32:11` throws `TS2503: Cannot find namespace 'JSX'` error when using Preact 10.0.1 with Typescript.

Seems to be similar error to https://github.com/preactjs/preact-router/issues/316

[2019-11-25 23:41] meyer commented on #138
It looks like the global `JSX` namespace has moved to `preact.JSX`. Should have a fix out shortly. Sorry for the delay!

[2019-11-26 06:31] #138 closed

[2020-03-31 22:25] meyer commented on #90
it’s 2020! I’ve got some experience-based thoughts after using this prefix-based API for a while now:

1. The current media query prefix API sucks bigtime. I personally don’t use it because it sucks and it’s unintuitive. What does prop order mean? Which media query prefixed prop takes precedence?
2. Pseudoelement/pseudoclass syntax is great as it is and moving it to a dedicated "pseudo" component

[2020-03-31 22:30] meyer commented on #73
I’m not opposed to this idea but I’m closing this issue as I haven’t really needed this feature in any of my projects.

[2020-03-31 22:30] #73 closed

[2020-03-31 23:40] meyer commented on #116
I’m considering taking media queries in a different direction, so I’m going to close this for now.

More context here: https://github.com/jsxstyle/jsxstyle/issues/90#issuecomment-606915879

[2020-03-31 23:40] #116 closed

[2020-04-01 00:35] #93 closed

[2020-04-01 19:12] meyer opened #141 "RFC: Default `alignItems` to `center` for `Row` component"
I just looked through a few projects and the majority of the time that I use the `Row` component I also set `alignItems` to `center`. Might make sense to make this the default initial value only for the `Row` component. Not setting it on the `Col` component as well seems a bit funky though. Hmmm…

[2020-04-09 17:34] natew opened #143 "React Native (react-native-web)"
Looking at forking this library (again, I've used parts of the babel plugin for other UI kits) to support the setup we have for a React Native / rnw app.

Basically would limit the props to the react-native ones, still allow for media queries when used for the web. We have a few views we use that are inspired by SwiftUI (VStack, HStack, ZStack) so I'd probably modify a bit more.

I assume they wil

[2020-04-14 05:01] #71 closed

[2020-04-14 05:08] meyer commented on #109
Closing until I can figure out a way to do this properly.

[2020-04-14 05:08] #109 closed

[2020-04-14 05:10] meyer commented on #136
Closing for now.

[2020-04-14 05:10] #136 closed

[2020-04-14 05:16] meyer commented on #90
Here’s the current plan:

- Keep pseudo prefixes. I’ve added commonly used pseudo-prefixed styles to [the `CSSProperties` interface](https://github.com/jsxstyle/jsxstyle/blob/4b46b72/packages/jsxstyle-utils/src/types.ts#L27-L52), so the average jsxstyle user shouldn’t need to augment anything.
- Deprecate `mediaQueries` prop in favour of `useMatchMedia`. Static style extraction detailed in [the co

[2020-04-14 05:16] #90 closed

[2020-04-14 05:29] meyer commented on #125
This poor bug has gone unfixed for so long, sorry 😩

I’m working on the roadmap for v3 at the moment and the media query API will be changing  (details here: https://github.com/jsxstyle/jsxstyle/issues/90#issuecomment-606915879). Due to this change I’m going to close this issue as wontfix.

[2020-04-14 05:29] #125 closed

[2020-04-14 17:36] meyer commented on #143
@natew I’ve wanted to add React Native Web support for a while now but haven’t yet had a project that uses RNW. How would you envision it working? Would it completely bypass the StyleSheet API?

[2020-04-24 03:21] chenxsan opened #145 "Question about useMatchMedia"
I'm trying `useMatchMedia` in my project and I found myself having to write rules more explicitly, e.g.:

[code]
Now I have to write `'column'` even `Col` is there, also I can't fallback to any default value browser has for `width` but to write `auto` in my code.

Considering more complex cases, if i have to change `flexDirection` for 4 breakpoints all the time, i would have to write something lik

[2020-05-21 01:07] meyer commented on #145
@chenxsan hey there, sorry for the super delayed reply.

For the fallback case, I’d recommend using the `&&` operator:

[code]

The `false` case here will simply result in no `width` property being set, since `false`, `null`, and `undefined` are all automatically removed from the generated styles. This would allow this style prop to fall back to the either the default value or your globally overri

[2020-05-25 21:12] meyer opened #146 "RFC: Adjacent sibling selector API"
Here’s the general idea:

[code]

Generated CSS:
[code]

Prod output with `jsxstyle-webpack-plugin`:
[code]
Behind the scenes, the poorly named "`functionThatDoesAdjacentStuff`" generates a unique class name, adds styles for `uniqueClassName + uniqueClassName` to the document head, and returns the value of `uniqueClassName`.

[2020-07-01 18:14] #146 closed

[2020-07-01 18:15] meyer commented on #145
Closing for now. Feel free to reopen if you have any more questions!

[2020-07-01 18:15] #145 closed

[2020-07-02 08:46] petehunt opened #147 "Add a `Styled` component"
Styling inputs with jsxstyle sort of sucks. I made a component that makes it easier:

[code]

Seems like a thing that we could include in jsxstyle.

Implementation (does not support style extraction):
[code]

[2020-07-02 08:49] petehunt opened #148 "Clean up the server rendering API"
The server rendering API is a little hard to use. I think I'd prefer to have something like this:

Example:
[code]

Implementation:
[code]

[2020-07-02 18:48] meyer commented on #117
at long last i am taking a crack at this issue…

[2020-07-02 20:41] meyer commented on #148
ooh, I like this approach. It would need a little tweaking as there’s a guard against injecting the same option multiple times, but this overall approach is way less boilerplate-y than messing with the cache directly.

[2020-07-02 20:55] meyer commented on #148
oooooooh, I like this approach.

[2020-07-04 01:20] petehunt opened #149 "Color helpers"
Made a little color helper, it's pretty useful when you have a color palette

[code]

[2020-08-03 20:57] petehunt opened #151 "Ideas for a jsxstyle 3.0"
Here's a few ideas for what we could do with jsxstyle 3:

* Implement #148 and #149
* Change the default API to instead override JSX with a `/** @jsx jsxstyle.h */`. So you can do stuff like `<input type="text" onChange={...} value={...} margin={10} border="1px solid black" />`
* Move the existing row/col/inline components to a contrib package. It's a good opportunity to reintroduce `Table` compon

[2020-10-17 06:08] natew commented on #143
Finally got around to splitting it out into it's own repo and publishing: https://github.com/natew/snackui

It's not really well documented yet but should work, uses a forked version of the JSXUI compiler. We really enjoy using it for a fairly large app, just needs media queries and some theme support.

[2020-10-17 06:08] #143 closed

[2020-11-02 06:36] nandorojo opened #152 "React native web support"
Hey there, I'm hoping to use the webpack plugin for react native web components & inline styles. Any idea how I could do that? Could it extract component styles somehow?

I'm a complete novice when it comes to webpack, but I maintain [Dripsy](https://github.com/nandorojo/dripsy), a react native (web) design system, and am looking for a way to integrate this for improved web performance.

[2020-11-03 00:49] meyer commented on #152
hey @nandorojo! issue #143 might be of interest to you. @natew forked `jsxstyle-webpack-plugin` and bent it to his will for his own RNW library.

You should be fine without a ton of webpack know-how, but I’d recommend getting very familiar with javascript ASTs so you can modify the plugin to suit your needs. It’s a bit challenging but mainly just _extremely verbose_. I lean pretty heavily on [aste

[2020-11-03 00:50] meyer commented on #74
🚢 💨

[2020-11-03 00:50] #74 closed

[2020-11-03 00:52] nandorojo commented on #152
Got it, good to know. I really appreciate the thoughtful pointers, I'll look into all of this. Webpack is perhaps the first territory I time it basically impossible to learn by reading code, so I'll use those resources. Hopefully I can make it happen. Much appreciated.

[2020-11-03 01:02] meyer commented on #152
sure thing! I’m going to close this issue but feel free to post updates/questions here; I’d love to see how it’s going for you!

[2020-11-03 01:02] #152 closed

[2020-11-03 01:03] nandorojo commented on #143
@natew very cool. Excited to try it out.

[2020-12-03 21:04] natew commented on #151
Hey Pete, I'm working on a sort of brother to jsxstyle, [snackui](https://github.com/natew/snackui), uses the same extraction behind the scenes but works with react-native/web and stack views. Would be happy to try out a few of these ideas.

As for simplifying the extraction, I could imagine there being a two pass system:

1. First pass moves everything to StyleSheet.create(), just uses a simple b

[2020-12-13 22:23] meyer commented on #149
There are a number of JS color libraries out there that provide functionality ranging from color creation all the way to advanced color manipulation (blending modes, darken/lighten, interpolating between colors, etc.). Unless we’re doing something jsxstyle-specific with color helpers, I’d rather point folks to an existing color library rather than start maintaining one. Any color object that strin

[2020-12-13 22:23] #149 closed

[2021-02-03 17:58] meyer opened #153 "jsxstyle doesn’t have flow types"
TypeScript support for jsxstyle is pretty decent. Flow support is… nonexistent. It probably doesn’t have to be that way. I don’t think we’ll be able to reach 100% parity with TypeScript but I think we can get pretty close.

[2021-02-12 00:07] meyer commented on #151
@petehunt Sorry for the late reply. I accidentally closed the tab on a nice juicy reply ages ago and I’ve only now gotten around to re-typing it.

All the bullet points above are _solutions_, but I’d like to get to the core _problems_ they’re solving. Here’s how I’m reading these (please correct me if I’m misunderstanding something):

---

- ### Problem: The server rendering API kinda sucks right

[2021-07-18 00:25] meyer commented on #147
Sorry for the delay! I’ve been thinking about this one for a while. I’m into the concept but I have some thoughts/concerns:

😓
- I’m not wild about the `cloneElement` usage.
- This makes static analysis quite difficult if the `Styled` component contains dynamic children. Could warn about it in `jsxtyle-webpack-plugin` though, so not super concerning.
- If a component doesn’t do anything with a `cl

[2021-07-21 02:20] #147 closed

[2021-07-21 18:00] meyer opened #161 "CSS custom properties and jsxstyle"
So you have a cool app and you want to support **light mode**, **dark mode** based on a media query, and **dark/light mode toggling** based on user config, overriding system settings.

The elegant approach is to use **CSS custom properties**. However, If you want to actually use these custom properties with jsxstyle, you need either a fantastic memory or some kind of mapping from CSS property name

[2021-07-30 00:15] meyer commented on #117
at long last i am again taking a crack at this issue… 😅

[2021-08-01 03:34] #117 closed

[2021-08-03 00:44] devmattrick opened #166 "New top-level component prop: disabled"
### Props to add

disabled

### Components that use these props

button, fieldset, input, optgroup, option, select, textarea

### Additional context

This would be helpful when developing form controls.

[2021-08-03 16:31] meyer commented on #166
ooh yeah, good one. I need to do a sweep of all form-related components to see what else I’m missing.

[2021-08-04 15:58] meyer opened #167 "Proposal: combine jsxstyle and webpack plugin"
### Feature request

We can guarantee that jsxstyle and jsxstyle-webpack-plugin work together perfectly by bundling jsxstyle with the webpack plugin.

Before:

[code]

After:

[code]

This would allow us to combine jsxstyle, jsxstyle-utils, and jsxstyle-webpack-plugin into one module, resulting in a smaller commonjs build for jsxstyle.

[2021-08-17 16:32] meyer commented on #167
I combined jsxstyle and jsxstyle-utils in 1efdeb82f201a135e742a940e853bbf1cb6ad263. Looking into moving runtime-only utils out of jsxstyle-utils at the moment.

[2022-04-27 19:39] meyer commented on #153
Shelving for now given that Flow is essentially dead.

[2022-04-27 19:39] #153 closed

[2022-04-28 23:30] #167 closed

[2022-04-28 23:31] #106 closed

[2022-04-28 23:34] #141 closed

[2022-04-28 23:41] #166 closed